[2017-06-04 19:56] kennethjiang opened #1 "rate limit for webcam messages"

[2017-06-04 19:57] kennethjiang opened #2 "Caps for Queues"

[2017-06-19 21:05] kennethjiang opened #3 "Make settings page more instructive"

[2017-06-19 21:05] #2 closed

[2017-06-19 21:33] kennethjiang opened #4 "Error handling for all ws sockets"

[2017-06-19 21:44] #1 closed

[2017-07-03 08:36] foosel opened #5 "Use plugin data folder for config file instead of base folder"
`self._basefolder` must not necessarily be writable by OctoPrint, it's your plugin's install location. You can rely on it being readable, but not writable, and it might also change on updates, effectively nuking your config.

OctoPrint also provides your plugin with a data folder you can retrieve via `self.get_plugin_datafolder()` which is what you should use instead - it's located in OctoPrint's

[2017-07-03 11:26] ManuelW77 opened #6 "More than one Printer in Dash"
Hey there,

i registered today me and my printer, but i have in my Dash 7 more printers that in active and not mine.
I can't delete or remove them.

[2017-07-03 11:49] buffalowolff opened #7 "Seeing many empty streams"
I am seeing my own printer in a list of many many blank ones.  Any thoughts?
<img width="1842" alt="capture" src="https://user-images.githubusercontent.com/21088809/27791645-175b62f0-5fc4-11e7-8ec8-d9dfb00349c3.PNG">

[2017-07-03 14:58] kennethjiang commented on #6
Thank you for reporting this issue. Apparently other users experience the same. It's a glitch in my software. I'm actively working on this issue and will keep you posted with the progress.

[2017-07-03 14:58] kennethjiang commented on #7
Thank you for reporting this issue. Apparently other users experience the same. It's a glitch in my software. I'm actively working on this issue and will keep you posted with the progress.

[2017-07-03 15:30] kennethjiang commented on #7
I just fixed the issue. Please come back to [OctoPrint Anywhere dashboard](https://www.getanywhere.io/app/devices) to see how it works for you. @buffalowolff

[2017-07-03 15:30] #7 closed

[2017-07-03 15:30] kennethjiang commented on #6
I just fixed the issue. Please come back to [OctoPrint Anywhere dashboard](https://www.getanywhere.io/app/devices) to see how it works for you. @buffalowolff

[2017-07-03 15:30] #6 closed

[2017-07-03 15:31] #3 closed

[2017-07-03 21:49] dataman opened #8 "Unable to register"
Receiving an: Internal Server Error when attempting to register using facebook credentials.
Call back string was: https://www.getanywhere.io/pub/link_printer?token=VCSPW74M9BDFMQFKX7ZIUGPJGBC34N1R

[2017-07-04 07:58] kennethjiang commented on #8
Hi @dataman sorry that you ran into issue with this plugin.

Can you please email me at kenneth dot jiang at gmail dot com ? I need to ask for additional info to further diagnose the problem.

[2017-07-04 08:58] kennethjiang commented on #5
good catch @foosel . will work on changing it now.

[2017-07-04 09:32] #5 closed

[2017-07-04 09:33] kennethjiang commented on #5
https://github.com/kennethjiang/OctoPrint-Anywhere/commit/8f27d34156bb0d4fe3222f5d1400612c45798090 and https://github.com/kennethjiang/OctoPrint-Anywhere/commit/9690f46178a240f86d2f1a13f8ed5e34e6a3b55c should fix it. Please review them @foosel

[2017-07-04 21:53] ChrisCrewdson opened #9 "Camera feed cannot be rotated or flipped"
My printer's camera is mounted upside down (like this https://www.thingiverse.com/thing:1646474). I have the "Flip webcam horizontally" and "Flip webcam vertically" options checked in OctoPrint.
If these settings can be read from the API, they should determine parameters sent to mjpg_streamer for rotation (or elsewhere as appropriate in the chain).

[2017-07-05 03:15] kennethjiang commented on #9
Thanks @ChrisCrewdson for proposing this feature. It's definitely on my roadmap. Will keep you posted when i get it implemented.

[2017-07-05 04:10] albinger opened #10 "Only showing one hotend"
My machine has 2 hotends.  Only one is showing up and not the one I actively use.

[2017-07-05 08:55] madmax2 opened #11 "Despite installing it, it doesn't install"
I click to install this plugin.
From the console message It looks like it is installing

But when I open the settings it does not show
and the plugins section shows it wasn't installed.

[2017-07-05 12:28] chixxi opened #12 "Temperature setpoint not changed when canceling"
When I cancel a print over OctoPrint-Anywhere, the temperature setpoints are not changed, hotend and plate still keep heating.

In my opinion this is a pretty serious bug since that could be related to safety.

Printer: Prusa i3 MK2

[2017-07-05 12:34] chixxi commented on #12
Sorry, it just take some time and I was too quick checking. Working as expected.

[2017-07-05 12:34] #12 closed

[2017-07-05 12:40] chixxi opened #13 "Temperature graph not shown with "Tempsgraph Plugin (0.2.2)""
After installing you plugin I did not see a temperature graph anymore in the user interface of octoprint. After uninstalling the plugin "Tempsgraph Plugin (0.2.2)" I see the graph again.

But without your plugin installed and only "Tempsgraph Plugin (0.2.2)" installed, it works fine.

Could you check how this behaves in your case? Could that be related?

[2017-07-05 13:03] unixb0y opened #14 "Info / README and installation error "Could not import OctoPrint's setuptools""
Hello,
First of all I would really appreciate a bit more infos, e.g. how to use and configure it after installation, so a README would be awesome 😊
Second, when trying to install, I get this error:
`Could not import OctoPrint's setuptools, are you sure you are running that under the same python installation that OctoPrint is installed under?`
`Command python setup.py egg_info failed with error cod

[2017-07-05 13:09] kennethjiang commented on #10
@albinger thank you for submitting this issue. I'm aware of this shortcoming of my plugin. However, my own 3D printer only has 1 hotend so it'll be tricky for me to test it even if I could code it up. Any chance you can collaborate with me on it?

[2017-07-05 13:12] kennethjiang commented on #11
@madmax2 can you copy/paste the console message when you tried to install this plugin?

Also if you can ssh to your Raspberry Pi, can you run `pip list | grep OctoPrint-Anywhere` and let me know the output of it?

[2017-07-05 13:15] kennethjiang commented on #13
@chixxi I think it's very possible this issue is caused by some conflict between my plugin and Tempsgraph Plugin. I will look into it when I get a chance.

[2017-07-05 13:20] kennethjiang commented on #14
Good suggestion on README file. I will add it when things settle down a bit. The backend system is quite overwhelmed by all the users who have signed up in the past 2 days...

Did you use OctoPrint's plugin manager to install my plugin? I'm pretty sure if your Raspberry Pi was installed from the OctoPi image downloaded from OctoPrint website, you should only have python 2.7, not python 3 in your s

[2017-07-05 13:20] chixxi commented on #13
Thanks a lot for the quick feedback and let me know if you need further testing.

[2017-07-05 13:22] unixb0y commented on #14
Thank you very much 👍
The error was by me, I found out on the internet that it's best just using the Plugin manager 😊
I have python 3 because I installed it one day but looks like the Octoprint is like a different user than Pi or in a subdirectory so stuff is missing. You could change to that directory or just use the Plugin manager :)

[2017-07-05 13:29] kennethjiang commented on #14
Got it. Did you eventually install the plugin successfully?

[2017-07-05 13:30] unixb0y commented on #14
Yes I just installed it, now how do I set it up? 😆

[2017-07-05 13:33] unixb0y commented on #14
Oh there's a video!
Would be cool to include it here, maybe under the Wiki page so you figure out how it works without having to install it first :)

[2017-07-05 14:02] unixb0y opened #15 "Feature request: Livestream / Camera view for "guests""
I have a feature request:
Maybe with a "guest account" or so, friends can watch the Camera without having access to the "Pause" and "Stop" buttons?
That would be awesome!
Thank you for your great work 👍 #

[2017-07-05 14:48] kennethjiang commented on #15
Yup this'd be a very useful feature! thank you for proposing that.

2 ways to implement it comes to my mind:
* Add a button to make the cam feed public. anyone who has the correct link can watch the cam feed. Very similar to google drive's function of **sharing as a link**.
* Invite your friends to sign up with their email. You can control what they can see/do on a 'settings' page.

Which one you

[2017-07-05 14:50] unixb0y commented on #15
I would do it with sharing a link 😊
The user would have a link associated to his printer / his account and he can toggle it on / off :)
What do you think?

[2017-07-05 16:45] albinger commented on #10
Certainly.

Let me know what to look for / send your way.

-Andrew

On Wed, Jul 5, 2017 at 8:09 AM, Kenneth Jiang <notifications@github.com>
wrote:

[2017-07-05 17:53] kennethjiang commented on #10
Can you email/google hangout me at kenneth dot jiang at gmail dot com ? I'd like to quickly chat with you to figure out what needs to happen to support dual hotends and how you can help.

[2017-07-05 21:42] madmax2 commented on #11
@kennethjiang
Console message
https://pastebin.com/VfDAAhPY

I am not using raspberry pi, I installed octoprint on windows.
If the command you posted is to check if the folders of octoprint-anywhere exists, then it does show in explorer.

I can see there is 2 folders exists in C:\OctoPrint\venv\Lib\site-packages
-octoprint_anywhere
-OctoPrint_Anywhere-0.2.1-py2.7.egg-info

[2017-07-06 05:02] kennethjiang commented on #11
I have not tested my plugin on Windows and I guess that's why you ran into issues.

From the log file it seems that my plugin was indeed installed successfully. I'm 99% sure the reason why it doesn't show up in OctoPrint because of some errors during OctoPrint startup.

If you know how to get OctoPrint log file, please do so and send it to me  at kenneth dot jiang at gmail dot com . Otherwise I'll

[2017-07-06 11:20] sdgray opened #16 "Incorrect IP address displayed"
I'm also using netconnectd plugin as a fallback for communication. OctoPrint Anywhere only displays the IP address that the host AP interface would have, if it were up, which would only be if no external connection were available.

ipOnConnect plugin still displays the correct IP address, always. Might want to check how that plugin finds IP address.

Most important would be the address of the inte

[2017-07-06 15:07] kennethjiang commented on #16
Thank you so much @sdgray for pointing me to ipOnConnect plugin. I'll definitely check how it obtains the correct IP.

[2017-07-06 16:16] kennethjiang opened #17 "webcam feed has significant delay when server is loaded"

[2017-07-08 17:51] cwestpha commented on #9
Ideally, could it parse the config.yaml file and pull the webcam settings and replicate those? that way it will honor the flips, rotations, and other settings made in octoprint and use those.
http://docs.octoprint.org/en/master/configuration/config_yaml.html#webcam

[2017-07-09 13:23] kennethjiang commented on #9
Good point @ChrisCrewdson I was thinking about exactly that. However I ran into a few technical trickiness there. So I eventually implemented a simpler version, which requires you to set it in Anywhere dashboard. However you only need to do it once and it'll remember the setting.

Give it a swing by upgrading OctoPrint Anywhere to 0.2.2 and then heading to Anywhere dashboard. Let me know if you ru

[2017-07-09 23:07] derpicknicker1 opened #18 "This plugin crashes the telegram plugin"
I had to support two users with not working telegram plugis. Both got it back to work after deactivating OctoPrint-Anywhere. Here are some of there errors/warnings

[code]

[2017-07-09 23:18] Niklas420 commented on #18
I am one of the Users after uninstalling your Plugin the other one worked perfect. The Main Issue was that when i connected the Telegram OctoPrint Plugin with my phone the Chat won't appear in OctoPi.
Even when i waited for 10 minutes.

[2017-07-09 23:31] kennethjiang commented on #18
Sorry that my plugin broke yours @derpicknicker1

From the log it's not obvious what is causing the problem (the 401 is expected before users link their printer to Anywhere). But I will look into it whenever I got a chance.

[2017-07-09 23:34] kennethjiang commented on #18
Also can you tell me how your plugin is broken @derpicknicker1 ? I don't have a telegram account so I'm not familiar how your plugin works.

[2017-07-10 00:04] derpicknicker1 commented on #18
I will do some investigation the next days. I don't know exactly what the issues are, because i am not using your plugin 😉 but i will install it and have a look when i have time.
BTW: Your slicer plugin is very great!

[2017-07-10 04:34] kennethjiang commented on #18
Thank you @derpicknicker1

I just installed Telegram. And I was able to see how Telegram settings page is broken after Anywhere is installed. Since my plugin causes warning messages about settings, it is very likely that it broke some part of settings in Telegram.

I will dig deeper to see how I can fix the warning message for my plugin, and see if Telegram will be restored after I fix it. Again m

[2017-07-10 15:30] HogensHero commented on #18
I was the other user helped and was able to get a good log. Don't know if it will help but here it is. https://pastebin.com/0ErTBTBL

[2017-07-10 17:41] kennethjiang commented on #18
Thanks @HogensHero !

[2017-07-11 05:13] ChrisCrewdson commented on #9
It looks like checking both of them is incompatible.
Having neither checked like this ![capture1](https://user-images.githubusercontent.com/597792/28051960-b1862f42-65bc-11e7-92e1-ccd97ce69a64.PNG)
looks the same as having both checked like this
![capture3](https://user-images.githubusercontent.com/597792/28051975-cae75696-65bc-11e7-9f41-a9653a4facb0.PNG)
Both work great individually, but unfortun

[2017-07-11 15:55] kennethjiang commented on #9
hmmm, what browser and OS are you using? how about their versions?

[2017-07-11 16:08] ChrisCrewdson commented on #9
This occurs on:
Ubuntu 17.04 with Chrome Version 59.0.3071.86
Windows 10 with Chrome (latest version)

[2017-07-11 16:41] kennethjiang commented on #18
@derpicknicker1 I just released 0.2.4 that eliminated the warnings about settings. However, I tested your plugin and the settings page is still broken. Any insights why this could be the case?

[2017-07-12 00:10] kennethjiang commented on #9
Thank you! Will work on it!

[2017-07-13 22:02] kennethjiang commented on #9
Just pushed a new release. Please take a look (you don't need to upgrade the plugin. Just log into https://www.getanywhere.io/app/devices ). Let me know if it still doesn't work.

[2017-07-13 22:06] ChrisCrewdson commented on #9
It doesn't look like it has changed. I tried all the combination with the same result as above.

[2017-07-13 22:07] kennethjiang commented on #9
can you force a refresh in your browser?

[2017-07-13 22:15] kennethjiang commented on #9
hold on, found a problem that may still causes a problem in your browser. fixing it now.

[2017-07-13 22:17] kennethjiang commented on #9
Now it should be fixed (for real this time). But I will leave this issue open until you confirm it @ChrisCrewdson

[2017-07-13 22:20] ChrisCrewdson commented on #9
It works! Thanks for all your attention and quick response on this.

[2017-07-13 22:22] #9 closed

[2017-07-14 16:07] modem7 opened #19 "Feature Request: Reduce time between snapshots"
Heya,

It seems that the plugin updates every ~5 seconds between camera snapshots. Is it possible to have a choice of the refresh duration (e.g. a dropdown or input box)?

[2017-07-14 16:30] kennethjiang commented on #19
Yes it's on the roadmap!

[2017-07-14 16:32] kennethjiang commented on #19
One question though: do you want the refresh rate to be adjustable, or you just want higher refresh rate? The latter is easier to implement, but will cost higher data rate (it may or may not matter for the people with limited mobile data plan)

[2017-07-14 16:33] kennethjiang commented on #18
@derpicknicker1 Does this issue still exist? Or you managed to solve it yourself?

[2017-07-16 21:36] dustin opened #20 "Can't delete or rename printers"
I've got two printers, and had replaced the server servicing one of them at one point, so my dashboard currently shows three printers named "My First Printer" where one of them is never going to be online again.

[2017-07-18 20:53] kennethjiang commented on #20
It's definitely on my roadmap. I'm tied up with other tasks recently. But will push a release soon in the near future that includes this one. Stay tuned.

[2017-07-19 15:37] kennethjiang commented on #20
@dustin Your request has been implemented and released. It is a server-side change so you just come to https://www.getanywhere.io/app/devices# and refresh the page. No plugin upgrade is needed!

Let me know if you experience any problems.

[2017-07-19 15:37] #20 closed

[2017-07-19 15:40] kennethjiang commented on #11
Closing it now due to lack of activities. Let me know if you still experience problems @madmax2

[2017-07-19 15:40] #11 closed

[2017-07-19 15:40] #8 closed

[2017-07-20 12:50] kennethjiang commented on #16
@sdgray do you have more than 1 wifi network interfaces on your Pi? Probably an internal one and a wifi dongle? I installed netconnectd but can't reproduce the same problem.

A list of steps to reproduce this problem will be appreciated.

[2017-07-20 12:53] sdgray commented on #16
No, only the two interfaces total (ethernet and wifi).

On Thu, Jul 20, 2017 at 8:50 AM, Kenneth Jiang <notifications@github.com>
wrote:

[2017-07-20 13:01] kennethjiang commented on #16
Ah yes you are using ethernet too!

I don't know if I want to use the way ipOnConnect detects IP address. As you have observed it only returns the IP of the default route. However I can see some use cases when this is not good enough. For instance, ethernet is attached to default gateway and the user wants to know the IP of Pi's wifi because the laptop is also on wifi network.

Ideally I should fi

[2017-07-20 13:09] sdgray commented on #16
Here is all I can think to give you right now. Netconnect default AP IP
(10.250.250.1):

pi@Printer:~ $ hostname -I
10.1.1.141 10.250.250.1 169.254.223.207

pi@Printer:~ $ route -n
Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use
Iface
0.0.0.0         10.1.1.1        0.0.0.0         UG    202    0        0 eth0
10.1.0.0        0.0.0.0         255.255.

[2017-07-20 15:01] kennethjiang commented on #16
Thank you @sdgray for the detailed information. I just released a new version that hopefully will correctly obtain and display all these ip addresses. Please upgrade and let me know if it actually works (I don't have an ethernet cable or router so I can't test it myself).

[2017-07-20 15:08] sdgray commented on #16
That works just fine. All IPs listed!

On Thu, Jul 20, 2017 at 11:01 AM, Kenneth Jiang <notifications@github.com>
wrote:

[2017-07-20 15:12] kennethjiang commented on #16
Hooray! Thank you so much @sdgray for reporting and helping me with this bug!

[2017-07-20 15:12] #16 closed

[2017-07-20 17:28] kennethjiang commented on #10
@albinger Will you be able to work with me to look at how to extract data for the 2nd hotend?

[2017-07-20 17:29] #14 closed

[2017-07-20 18:04] kennethjiang commented on #13
Hi @chixxi , sorry for the delay.

I installed Tempsgraph and looked into this issue. From Javascript console it appears to be a Javascript error from Tempsgraph plugin. Attached is the screenshot.

This error might have been caused the installation of Anywhere plugin, but without knowing how Tempsgraph works, trying to debug this issue for it is like finding a needle in a haystack for me.

I'd re

[2017-07-23 19:12] kennethjiang opened #21 "requests keeps on sending images in rare case when server returns 5xx"
https://stackoverflow.com/questions/45244775/python-requests-chunked-stream-upload-ignores-5xx-errors

[2017-07-25 04:04] Sabreur opened #22 "Can't Create Printer"
I deleted my old printer setup, but now there's no option to create a new printer.  The dashboard just takes me to an empty page with "OctoPrint Anywhere" at the top.  I can open the left-hand menu, but the only options are "Dashboard", "Help", "Log Out" and "Report A Bug".  Clicking Dashboard just takes me back to the same empty page.

[2017-07-25 18:51] kennethjiang commented on #22
You can re-add your printer by following the instructions here: http://www.getanywhere.io/pub/help#missing-printer

Let me know if you still can't see the printer after going through these steps. @Sabreur

[2017-07-27 22:26] jslick007 opened #23 "Feature Request"
Custom names for printers instead of "My First 3D Printer". Minor I know, but would be helpful as I have 2 Prusa Mk2s connected, one with an MMU and it's sometimes confusing as to which one I'm viewing.

[2017-07-27 23:40] kennethjiang commented on #23
You can now change the printer name by clicking the 3 dots on the right, and clicking 'Preferences'. Let me know if you run into any problems.

[2017-07-28 00:30] jslick007 commented on #23
Confirmed working! Awesome!

[2017-07-28 00:30] #23 closed

[2017-07-29 01:02] karatetrigger opened #24 "Huge issue"
Excuse me, but I have a major problem with the screenshots you have on the Octoprint page. For some reason, they are of my 3D printer. Now, how in the hell did you get those images, and who do you think you are?

[2017-07-29 20:29] TeaVirus opened #25 "Printer never connects"
I'm able to "pair" the printer from Octoprint and it shows up in the dashboard.  The problem is that it continually shows "Waiting for camera feed..." and never gets any further.  Any recommendations?

[2017-07-31 00:00] kennethjiang commented on #24
@karatetrigger Responded to you in another issue you opened. Like I said I will fix that by end of day tomorrow. Again my apology for using it without your permission.

[2017-07-31 00:14] kennethjiang commented on #25
Hi @TeaVirus The service that my plugin is using has started to throttle the requests because of the unexpected amount of signups to my plugin. I'm working with them to solve this issue. I will notify you once I get this figured out, probably in a few days to a week. If it still doesn't work after that, I will do some further diagnosis to see what could be the cause.

[2017-08-01 01:11] kennethjiang commented on #24
I have updated all content, including pics and videos, to remove any images of your printer. @karatetrigger

I don't think I missed any but let me know in case I did.

My apology again for using your pics without your permission!

[2017-08-01 01:11] #24 closed

[2017-08-04 12:15] theisgroup opened #26 "Install fails with memory error"
Trying to install anywhere on fresh octoprint .14 on rpi zero wireless

[2017-08-04 15:39] kennethjiang commented on #26
Another user has reported a similar problem. He found out that the problem seems to be caused by pip version 9.0.1.

If you have upgraded pip to 9.0.1, you can downgrade it to 8.1.1 by the command `pip install pip==8.1.1`. Then you can try to install OctoPrint Anywhere again. Let me know if it solves your problem @theisgroup

[2017-08-05 16:02] theisgroup commented on #26
here is what i get after i downgrade to pip 8.1.1

Error!
Could not parse output from pip, see plugin_pluginmanager_console.log for generated output

[2017-08-05 17:35] theisgroup commented on #26
i ssh into the pi and ran the install and it looks like that worked. i will check it once this print is complete.

[2017-08-05 20:39] kennethjiang commented on #26
Great. Meanwhile I will try to reproduce the problem on my Pi zero to see if I can come up with a permanent solution.

[2017-08-06 15:32] kennethjiang commented on #26
@theisgroup I released a new version yesterday so that the installation would succeed even under pip 9.0.1.

[2017-08-06 15:32] #26 closed

[2017-08-06 15:34] kennethjiang commented on #25
@TeaVirus I have solved the issues with our backend service. For the past several days it has been very stable.

I'm closing this issue now but feel free to reopen it if you still run into problems.

[2017-08-06 15:42] kennethjiang commented on #22
@Sabreur feel free to re-open this issue if you still run into this problem.

[2017-08-06 15:42] #22 closed

[2017-08-06 15:45] kennethjiang commented on #19
@modem7 I increased the frame rate to 5Hz but then the backend service was overwhelmed. Now I temporarily reduced the frame rate to 0.5Hz. After I optimized the backend service, I will bump it up again.

i also implemented a toggle on dashboard so that you can switch on "bandwidth saving mode".

[2017-08-06 15:46] kennethjiang commented on #18
Assuming this is no longer an issue I'm closing it. @derpicknicker1 feel free to reopen it if the problem is still there.

[2017-08-06 15:46] #18 closed

[2017-08-06 15:47] #4 closed

[2017-08-06 15:47] #17 closed

[2017-08-06 15:49] kennethjiang opened #27 "Crash on Windows"
The mechanism to retrieve IP addresses (`hostname --all-ips`) results in crash on Window.

[2017-08-06 15:54] theisgroup commented on #26
i just flashed a second pi zero w with octoprint 0.14 and the plugin installed from plugin manager.

[2017-08-10 15:41] kennethjiang opened #28 "File manager plugin is broken by this plugin"

[2017-08-14 16:57] modem7 opened #29 "No webcam feed"
Currently am lacking a webcam feed. All other values are working as expected including IP address capture.

Testing on android w/ Chrome

[2017-08-14 17:07] kennethjiang commented on #29
Thanks for submitting this issue @modem7.

Can you let me know the email you logged in with, so that I can search
system logs to see what went wrong?

Also, was it a new installation or an upgrade from old version?

On Mon, Aug 14, 2017, 9:57 AM modem7 <notifications@github.com> wrote:

[2017-08-14 17:08] modem7 commented on #29
Heya,

Upgrade from since before the server change.

Modem7 [at] gmail.com

I've also re-registered as well since the server change.

Thanks!

On 14 Aug 2017 18:07, "Kenneth Jiang" <notifications@github.com> wrote:

[2017-08-15 04:34] kennethjiang commented on #29
Can you open your octoprint.log (if you have trouble locating it please let me know) and look for possible error messages. If you find error messages there, please send them to me so that I can take a look at them. You can attach the whole log file if you don't mind.

I also sent you email. Please respond to my email in case you don't want to post logs publicly here in github. @modem7

[2017-08-15 04:35] #27 closed

[2017-08-16 18:30] #19 closed

[2017-08-16 18:32] kennethjiang commented on #29
Just found out that you opened an issue before and apparently you were getting webcam feed until some version upgrade. Definitely let me work with you to figure out what version broke your setup.

[2017-08-16 18:34] modem7 commented on #29
Hi Kenneth!

What I'll do before we have a chat, is uninstall the current implementation
and reinstall. Sods law I broke something tinkering around!

I'm just doing a 10 hour print now, so tomorrow I'll do this and let you
know the results!

On 16 Aug 2017 19:32, "Kenneth Jiang" <notifications@github.com> wrote:

[2017-08-16 18:35] kennethjiang commented on #29
Sounds good!

On Wed, Aug 16, 2017 at 11:34 AM, modem7 <notifications@github.com> wrote:

[2017-08-17 05:46] NTX9 opened #30 "Flip / Rotate Camera feature"
Is it possible to add some code to allow the camera to be rotated 180 degrees?

[2017-08-17 06:21] Sabreur commented on #29
Having the same issue - everything works, but it gets stuck on "Waiting for camera feed..."

I've attached my latest log file.

[octoprint.txt](https://github.com/kennethjiang/OctoPrint-Anywhere/files/1230279/octoprint.txt)

[2017-08-17 16:43] modem7 commented on #29
Looks like a reinstall and re-register didn't do the job in this case unfortunately.

[2017-08-17 16:44] kennethjiang commented on #29
@Sabreur I found the problem from the log file you posted. Thank you so much!

I just fixed it and released version 0.5.1. Please let me know if you still experience problems after you upgrade the plugin.

In case OctoPrint failed to push the upgrade to you, you can use this link to force upgrade: https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip

[2017-08-17 16:52] modem7 commented on #29
Damn, unfortunately still no go here.
[octoprint.txt](https://github.com/kennethjiang/OctoPrint-Anywhere/files/1232015/octoprint.txt)

[2017-08-17 17:20] kennethjiang commented on #30
@NTX9 I think you can get 180-degree rotation by checking both "Flip Horizontally" and "Flip Vertically". But I could be wrong 'coz I'm not very good with maps and directions. ;)

[2017-08-17 17:27] kennethjiang commented on #29
Unfortunately your problem seems to be caused by a different and trickier issue. @modem7.  The log you uploaded doesn't have the errors in @Sabreur's log file. So I'm pretty sure 0.5.1 won't fix it for you.

I suspect that your issue is on the browser side, which log file can't capture. The easiest way to debug it is via a screen-sharing session.

[2017-08-18 03:23] Sabreur commented on #29
@kennethjiang Just wanted to say that 0.5.1 fixed my issue, thank you very much!

[2017-08-31 23:40] kennethjiang opened #31 "Controls to turn off bed/hotend heaters"
Probably the controls to adjust temp offsets if not difficult to do.

[2017-09-19 00:45] kennethjiang commented on #15
@unixb0y This feature has been implemented in latest version and it's working quite well. Please check it out.

[2017-09-19 00:45] #15 closed

[2017-09-19 00:47] kennethjiang commented on #29
@modem7 I'm closing this issue now assuming that you no longer have problems. Feel free to re-open it and provide more info if it's not the case.

[2017-09-19 00:47] #29 closed

[2017-09-19 00:48] kennethjiang commented on #30
@NTX9 I'm closing this issue assuming the solution I proposed worked for you. Please re-open it if it was not the case.

[2017-09-19 00:48] #30 closed

[2017-09-19 00:50] kennethjiang commented on #13
@chixxi I'm closing this issue assuming that you have worked with Tempsgraph team to sort this out. However if you have reason to believe this is an issue caused by Anywhere plugin, please re-open it and provide additional info. Thanks!

[2017-09-19 00:50] #13 closed

[2017-09-19 09:13] unixb0y commented on #15
Thank you very much 😊
Already seen it, but both my printer and my Pi are currently not working / broken unfortunately :(
I'll try it as soon as they're back working again.. :)

[2017-10-24 02:17] kennethjiang commented on #10
@albinger This feature should be available now. Let me know if it works for you.

[2017-10-24 02:17] #10 closed

[2017-11-02 18:15] astateofblank commented on #28
I experienced an issue with the Filament Manager as well that may be related. In:

https://github.com/kennethjiang/OctoPrint-Anywhere/blob/master/octoprint_anywhere/static/js/anywhere.js

`'use strict';` is declared globally. When OctoPrint bundles all the plugins' JavaScript, all other plugins must then be compliant with strict mode. Given the state of OctoPrint's plugin ecosystem, the entire scr

[2017-11-02 20:13] kennethjiang commented on #28
Hah this makes a lot of sense. Thank you so much @astateofblank ! I will make the change to see if it solve the problem.

[2017-11-05 15:27] strongbow1 opened #32 "Application error"
Application error when loading the web page from pc or tablet

[2017-11-05 15:48] kennethjiang commented on #32
Thank you @strongbow1 for reporting the problem. It was a glitch in migrating to another platform. It should be back in business now.

[2017-11-05 15:48] #32 closed

[2017-11-05 18:27] strongbow1 opened #33 "Share print time info on guest view page."
Is it possible that if you share your print that the people with the link can see Temperature and also the time till the print is completed?

[2017-11-05 23:25] kennethjiang commented on #33
It is not hard. The reason why I didn't do it was because I was not sure if some users will be concerned about sharing too much. :)

I can see why sharing time to complete is useful. But can you elaborate why you'd like to share temps as well @strongbow1 .

[2017-11-05 23:55] strongbow1 commented on #33
To be honest I so have no idea why I mentioned Temp. I think time would be enough. How long its been printing and how much time is left and if possible how many % is completed. I think those are enough so the person you share with has this info also. Thank you for your reply

Mit Freundlichen Grüsse
With Best Regards
Sandro Strimer

[2017-11-07 12:50] olemah opened #35 "Application error"
Still getting application error when logging in to getanywhere.io

[2017-11-07 15:03] kennethjiang commented on #35
The hosting service had an unscheduled outage. It looks like they are just back online. But I won't be surprised if it will still take them a while to stabilize the system. Sorry for that @olemah

[2017-11-07 16:12] kennethjiang commented on #35
it looks like the hosting service has stabilized now. I'm closing this issue. But feel free to reopen it if the app goes down again. @olemah

[2017-11-07 16:12] #35 closed

[2017-11-08 16:54] calonmerc opened #36 "Feature: gCode viewer and file browser?"
Wondering if there's anything on your roadmap for implementing a gCode viewer (similar to that in Octoprint currently, uses a socket stream to pass data continuously)?

Or any thoughts on implementing a file browser per-printer that would allow starting the print remotely?

[2017-11-20 04:14] knightofkairell opened #37 "Plugin conflict?"
I was installing multiply plugins and after I installed yours it broke access to the anything on the browser. it displays the images but when you click anything, nothing reacts. I saw you have another open issue with file manager, could this be related? Up until I installed your plugin and reset I still had access to everything. Now I have no idea how to go back and uninstall your plugin so I can

[2017-11-20 13:48] jeracom opened #38 "No temperature info, no cancel or pause button"
Got the plugin to install and got it registered but in the window that shows the camera stream there is no temperature info, no cancel or pause button.
I logged in with my Google account. (Testet at Home Network and Smart Phone)﻿

seems fixed. Connection problem

[2017-11-20 18:24] #38 closed

[2017-11-21 10:20] foosel opened #39 "Log gets swamped with "backoff - ERROR - Backing off __probe_auth_token__(...) for $xs (HTTPError: 401 Client Error: Unauthorized)""
I just received an `octoprint.log` file from a user (to look into an unrelated problem) and noticed that the `backoff` dependency of this plugin is swamping the log with an endless stream of lines like this one:

[code]

basically every couple of seconds. That makes the log pretty much unusable for debugging anything. I figure this is related to some kind of authorization error with the server com

[2017-11-21 22:21] kennethjiang commented on #37
I'm currently on vacation with limited bandwidth. Will take a look when I'm back next week.

[2017-11-21 22:28] kennethjiang commented on #39
Hi @foosel  - this error log only happens when there is a problem with that particular user/installation. It is very repetitive but is also helpful for troubleshooting.

When the plugin works correctly, which is the case for 99+% of the users, the plugin put nothing to the log file.

Of course I'd like to keep the log size down even when there is an error. But it's not clear to me how that can be

[2017-11-22 07:37] foosel commented on #39
This exponential retry appears to not work then. The log file in question literally contains error lines every 1 to 5 seconds over the course of hours. It also doesn't stop. If stuff is broken beyond repair I'd expect it to not keep trying and spam the log for all eternity. I understand that this is a third party library you are using here and that you have limited control over. What I'm saying is

[2017-11-22 10:42] foosel commented on #39
Here's the log: https://gist.github.com/foosel/faacac400bb3314f785704030aad0e48. Warning: It's big.

[2017-11-22 22:08] kennethjiang commented on #39
Every 1-5 seconds doesn't sound right. I will take a look at the log and figure out what went wrong.

[2017-12-04 04:27] kennethjiang commented on #36
@calonmerc sorry for the delay. I was just back from an extended trip this week.

I guess your request to have gcode viewer and to remotely start print job are related. So I'm trying to address them both here.

I have not considered remote job starting as a feature on the roadmap because I think, more often than not, a user will have to do some work (taking previous print off the plate, leveling t

[2017-12-04 15:01] kennethjiang commented on #37
Hi @knightofkairell I'm back from my vacation.

You should be able to `ssh` to your Raspberry Pi and run `/usr/bin/python -m pip uninstall --yes OctoPrint-Anywhere` from the command line to uninstall this plugin.

Can you also do me a favor to let me know the OS/browser you are running on so that I can come up with a performanent solution for this issue?

[2017-12-06 09:32] kennethjiang commented on #39
Should be fixed in version 0.6.0.

[2017-12-06 09:32] #39 closed

[2017-12-06 09:35] kennethjiang commented on #37
Hi @knightofkairell I just released version 0.6.0 which uses Javascript IIFE to minimize potential conflicts with other plugins. Can you upgrade/re-install the plugin and let me know if you still experience the same problem?

Thanks!

[2017-12-06 09:46] kennethjiang commented on #28
Hi @astateofblank I just pushed out version 0.6.0 that uses IIFE to keep `use strict` within the scope of Anywhere plugin. The conflicts with FileManager and potentially other plugins should be eliminated now. Please let me know if you are still seeing problems.

[2017-12-06 09:46] #28 closed

[2017-12-06 09:46] #37 closed

[2017-12-06 21:03] starxraider opened #40 "Constant upload is killing household bandwidth"
So, I installed this on friends RaspPi Octopi setup, and yesterday he showed me that his internet upload is almost the same as his download.

Compared to all the devices which have a high download, the Pi specifically had an extremely high upload.

The limit isn't the problem, but it's slowing down his other devices that require upload/download.

Is there any solution to this? Or can you make any

[2017-12-07 00:56] kennethjiang commented on #40
Thanks @starxraider for submitting this issue.

Unfortunately I don't have a good solution to this problem. One workaround is to lower the resolution of the webcam so that less data needs to be transmitted. I set the resolution of my webcam to 1280x720, and the plugin is uploading at the rate lower than 3Mbps. Even though my cable connection only has 10Mbps uplink rate limit, it's not been a probl

[2017-12-07 18:51] calonmerc commented on #36
I personally do, as I tend to get jobs for printing when I've left the house, but I always leave my printer clean and ready to go. Having to change filament would change that, as well, but generally I print in the same filament for most things. Otherwise, remote gcode would be more appreciated!

[2017-12-08 04:29] kennethjiang commented on #36
Ok I see the reasons why remote starting will be very helpful to you.

Both remote starting and gcode viewer can be quite complex to implement. I will put them on the roadmap and prioritize them against other features.

[2017-12-08 04:30] #21 closed

[2017-12-11 21:09] JD2005L opened #41 "Feature: Public viewing"
Wondering if you're considering implementing a hard link (or even time limited expiring links) that could be given to people for unauthenticated viewing with no admin access.  I'd like to provide viewing links to customers so they can watch their part be manufactured and this would be perfect.  Either with a static hard link, or preferably have the ability to create custom links that expire after

[2017-12-12 02:54] kennethjiang commented on #41
You can currently share the webcam feed with a link. Let me know if that feature is not very discoverable to you @JD2005L . Also if you need to share other things in addition to just webcam feed, please let me know too!

[2017-12-12 15:22] JD2005L commented on #41
Sorry about that, I see it now.  This is great, thanks.  The only extra
enhancement I would find useful would be if I could create multiple links
and set usage expiration dates for them so that each link was only active
for a specified period of time.

Thanks for your work on this though, very useful!

On Mon, Dec 11, 2017 at 7:54 PM, Kenneth Jiang <notifications@github.com>
wrote:

--

[+] Add me

[2017-12-12 16:20] kennethjiang commented on #41
Other users have mentioned the similar need to have multiple links expiring at different times. However it's a pretty advanced feature and much trickier to implement in a right way. I will open another issue to keep track of it but it'll take a while before I can get around to it.

[2017-12-12 16:20] #41 closed

[2017-12-12 16:22] kennethjiang opened #42 "Multiple links to share webcam feed with different expiration dates."

[2017-12-12 17:10] JD2005L commented on #41
No problem, appreciate your work!  I just think that feature is what stands
between this product being useful to an individual vs being able to be
leveraged to support a printing business.  I'd be hesitant to provide a
public link to customers and not be able to ensure that they don't have
perpetual ability to consume my bandwidth.

Thanks, hope to see this feature in the future!

On Tue, Dec 12,

[2017-12-13 04:02] kennethjiang commented on #41
I'll love to build these features at much faster pace and make the service a lot more robust if I can figure out a way to make it a self-sustainable business. Can you send an email to me at `kenneth dot jiang at gmail dot com` so that we have a google hangout chat about it @JD2005L ?

[2018-01-03 07:23] strongbow1 opened #43 "Waiting for Camera Feed"
After registering my camera I only get waiting for camera feed. But my Camera works fine within Octoprint

[2018-01-04 20:56] kennethjiang commented on #43
Sorry I was just back from vacation.

Do you know how you to get access to OctoPrint log files? If so, can you zip up those log files and post them here or send them to me at kenneth dot jiang at gmail dot com? @strongbow1

[2018-01-04 21:13] strongbow1 commented on #43
Hi kenneth

Thank you for your reply. Sorry I do not know how to access the Octoprint log files. If you tell me how to get them I will get them for you.

Mit Freundlichen Grüsse
With Best Regards
Sandro Strimer

[2018-01-05 17:54] strongbow1 commented on #43
Hi Kenneth

I got it working again.

Just reinstalled octoprint on my raspi. That solved it for now

Thank you again for your help and fast response

Mit Freundlichen Grüsse
With Best Regards
Sandro Strimer

[2018-01-05 18:17] kennethjiang commented on #43
You are welcome! I'm glad that you figured this out.

[2018-01-05 18:17] #43 closed

[2018-01-18 20:41] dataman commented on #8
Sure, I'll give it another try and email you.  Sorry it's been so long.  I gave up.

[2018-01-20 23:37] Stellarspiff opened #44 "No such app"
It stopped allowing me to view the Octoprint Anywhere page. Sends me to a Heroku page that says "There's nothing here, yet."

[2018-01-21 03:10] kennethjiang commented on #44
shoot there is an outage on the backend. working on that!

[2018-01-21 04:48] Stellarspiff commented on #44
Thanks for the update!

On Jan 20, 2018 9:10 PM, "Kenneth Jiang" <notifications@github.com> wrote:

[2018-01-21 05:28] johnpettybone commented on #44
Same problem. Eta? :)

[2018-01-21 05:32] kennethjiang commented on #44
Sorry it's quite a nasty backend issue. Will take a while. working on it but can't provide an eta now...

[2018-01-21 10:54] kennethjiang commented on #44
@Stellarspiff @johnpettybone I restored the backend service. However it requires up to 24 hours to get the new DNS to propagate. Please let me know if you still can't access the Dashboard after 24 hours. Sorry for the trouble!

[2018-01-21 17:27] kennethjiang commented on #44
It looks like the backend is restored for most users around the world. Closing this issue.

[2018-01-21 17:27] #44 closed

[2018-01-22 18:21] jaa1960 opened #45 "Failed in registration"
After registering process, it shows "internal server error"

[2018-01-23 03:47] rotaryfurball commented on #45
Same problem!

[2018-01-23 07:14] kennethjiang commented on #45
Sorry for the delay. looking at this now!

[2018-01-23 07:18] kennethjiang commented on #45
It looks like it's working now. Can you try it again @jaa1960  @rotaryfurball

I have been busy recently and not paid enough attention to what happened to the service. My best guess is there was a temporary load balancer error. Let me know if it happens again.

[2018-01-23 11:08] jaa1960 commented on #45
Thank you very much for your assistance.

On Tue, Jan 23, 2018 at 10:18 AM, Kenneth Jiang <notifications@github.com>
wrote:

[2018-01-23 17:39] Techrev9999 commented on #45
Getting this error right now.

[2018-01-23 17:52] kennethjiang commented on #45
My apology that the backend has been having rough times, since I switched to a different provider last week (primarily for cost concerns).

My observation is that it'll usually come back after a few minutes, which indicates frequent intermittent problems that my current provider has. Unfortunately I'm super busy the following 2 weeks so I won't be able to actively figure out a solution. But once I

[2018-01-24 00:01] mylomine commented on #45
Hi, I am also having issues. I am not able to login to the website. I am pretty sure I am putting in my correct password. Also, when I go into "forgot password" I am not receiving an email. Not sure whats going on.

[2018-01-25 04:59] kennethjiang commented on #45
Sorry for the delay @mylomine ! The backend service experienced quite a lot of issues in the past 2 days. I have finally got it to a stable situation. Can you try it again to see if you still have issues?

[2018-01-25 05:03] rotaryfurball commented on #45
@kennethjiang works for me now! Thanks so much! Have a great day!

[2018-01-25 05:51] kennethjiang commented on #45
Great! The new infrastructure is not stable yet so there may be more issues. Feel free to ping me any time you run into problems.

[2018-01-25 16:15] mylomine commented on #45
Yes it is working for me as well now. Thank you very much.

[2018-02-12 23:44] cptprime opened #46 "Webcam feeds not showing up"
i have 7 identical printers all running their own Pi/octopi setup, i thought i would be smart and have yawcam streaming a single webcam across the local network to all the octopis, it works well via octopi but on the dashboard it gets stuck on "Waiting for camera feed..."

[2018-02-13 02:52] kennethjiang commented on #46
Hi @cptprime thank you for submitting the issue.

Do you have 7 OctoPrints (7 Rasperry Pis), or only 1?

I'm not familiar with yawcam. Can you provide a little more info on how the yawcam is connected to Raspberry Pi(s)?

[2018-02-14 00:55] Quintin9801 opened #47 "Full screen webcam?"
A full screen webcam feature would be amazing, I’m currently just zooming in on the image but this enhancement would be nice!

[2018-02-14 14:34] kennethjiang commented on #47
Very good suggestion! Will get to it at some point!

[2018-02-14 14:42] Quintin9801 commented on #47
Awesome! Thank you so much

[2018-02-14 22:51] cptprime commented on #46
Hi @kennethjiang i have indeed 7 raspberry Pis, yawcam just serves my webcam as a stream on the local network, it also lets me do timelapse from within octoprint.

i just point octoprint's webcam adress from 127.0.0.1 to what ever the adress of yawcam is

[2018-02-15 14:28] kennethjiang commented on #46
Ah I understand now.

I just checked and yawcam and it is a MJPEG server. Assuming yawcam can be displayed correctly in the `Control` tab in OctoPrint, I can't think of a reason why it wouldn't work with OctoPrint Anywhere.

Do you install OctoPrint Anywhere on all OctoPis, or just one of them?

[2018-02-20 17:20] JD2005L commented on #47
Came here to ask for the same, would be very useful.  Double click video for fullscreen, for example, similar functionality to Octoprint-Fullscreen plugin: https://github.com/BillyBlaze/OctoPrint-FullScreen

[2018-02-22 18:48] kennethjiang commented on #47
Thx @JD2005L  I will take a look at that plugin to see how it's implemented

[2018-02-23 05:08] mylife4aiurr opened #48 "A way to arrange cam windows"
I love your pluggin. Its very useful when Im away from printers. Its piece of mind. Ive cancelled prints remotely that failed or lost adhesion. But also to know a print so doing fine. Great to show co-workers.

My request is for a way to choose and view multiple printers. Because not all printers are always printing however.

So currently if printer A and C are printing, B and D is shown idle. Tom

[2018-02-23 20:03] tkostansek commented on #45
I cannot see OctoPrint Anywhere in the plugins section is settings to configure the remote connection.
it does show in the Plugin installed.

[2018-02-23 22:46] kennethjiang commented on #45
@tkostansek can you post screenshots here so that i can better understand the problems you ran into?

[2018-02-23 22:55] kennethjiang commented on #48
Thank you @mylife4aiurr for a very constructive suggestion! Even though it sounds pretty difficult to implement, it definitely sheds lights on how I can further improve the user interface. I will think about it and come back with some options.

I don't fully understand your last part:

camera_raspi_options="-fps 25 -x 1280 -y 720 -ex auto -awb fluorescent -b 2000000 -ISO 200 -vf -hf"

Is it someth

[2018-02-23 23:07] mylife4aiurr commented on #48
i was just showing you the screen size i use with Octoprint. I think its why I only see two printers then have to scroll.

[2018-02-24 16:12] kennethjiang commented on #48
Great thanks!

[2018-02-24 19:36] LilBub commented on #40
I have a 10 mb upload via my home cable company and with 4 printers using this, my upload speed is getting crushed.  I have to down the Pi's when not in use

[2018-02-24 20:49] kennethjiang commented on #40
@LilBub Yes I can see how 4 printers will jam all the uplink bandwidth. Will that be an option to reduce the resolution to 640x360?

There are some options to reduce the bandwidth requirement, but none of them can be done without complicating the system by a lot. So I'm hoping that a lower resolution will be a good-enough workaround...

[2018-02-24 21:29] LilBub commented on #40
I'd really hate to lower the resolution.  Perhaps an option to only broadcast when a print is running?

[2018-02-25 15:07] kennethjiang commented on #40
That'll be definitely part of the solution. However, I don't think it's a good idea to not show webcam streaming at all when the printer is not printing, as it'll make it as if the printer is offline.

So I guess the final solution should also stream webcam when it's not printing, but at a lower rate. Now the side effect is big gaps between webcam frames and hence long latency for webcam stream to

[2018-02-25 21:35] LilBub commented on #40
My suggestion would be to allow there to be an option (Yes/No) on whether one wants streaming on all the time or only when a print is being made.  That would give those of us with lower bandwidth upstream to use the plugin and down it when not needed.  Users like options :)

[2018-02-26 12:00] hakan42 commented on #40
Yes, a button for "Start streaming now, and keep streaming for the next 5 minutes" would be nice. There is already the button for start/cancel print, so communicating with the octopi seems to be already possible :)

[2018-03-03 18:18] GrueMaster commented on #40
Not sure how the remote portion works, but would it be possible to just upload a static image at a long interval and then a simple heartbeat every few minutes?  The upload bandwidth would be reduced dramatically this way.

Of course, switch to live when actually printing.

[2018-03-03 22:07] kennethjiang commented on #40
@GrueMaster Thanks for the suggestion. That sounds like solution that won't cost me an arm and a leg to build. Will work on it when I have a chance.

[2018-03-04 04:59] rotaryfurball opened #49 "Printer active before the print started. Then offline."
When i send off a print everything if fine with OctoPrint anywhere. But once the print starts the Octoprint-Anywhere says its offline. And it seems to break the whole Wifi in my house. Meaning there is Wifi signal but no data is going through, when the print is printing, so my Wifi is broken when the printer is printing.

[2018-03-04 19:09] kennethjiang commented on #49
Currently OctoPrint Anywhere plugin doesn't behave differently whether or not the printer is printing. Do it always happen that when your printer is printing, your wifi will be broken? Also by broken wifi, did you mean the whole wifi network is not usable so that no computers on the same wifi can connect to internet?

[2018-03-04 21:04] rotaryfurball commented on #49
yea. Once it starts printing the Octoprint Anywhere says the printer is offline. And yes all the computer s can't connect then now

[2018-03-04 21:46] kennethjiang commented on #49
Does it happen every time your printer starts printing? Does your wifi network come back every time your print is over? If both are true, you may want to uninstall OctoPrint Anywhere and see if the problem will go away.

[2018-03-06 20:22] deppley opened #50 "camera streams non stop"
camera streams non stop and uses all of allowed data. should be able to turn off streaming when a print job isn’t running instead of having to turn off pi

[2018-03-09 01:51] kennethjiang commented on #50
Sorry for the delay.
I will find a chance to find a solution
There is already a similar issue open: #40 . Please monitor the status of that issue. I will close this issue for now.

[2018-03-09 01:51] #50 closed

[2018-03-09 01:56] kennethjiang commented on #49
@rotaryfurball One of my routers started to have the similar issue. I think it's probably because the plugin is sending too much data (please look at #40). I was able to solve the issue by switching OctoPrint to using a different router. If this is not an option for you, you probably have to uninstall this plugin, and try it again when #40 is fixed. Sorry!

[2018-03-15 14:44] kennethjiang commented on #40
@starxraider @GrueMaster @hakan42 @LilBub I released version 0.6.1 that will slow down the streaming to ~5% of original bandwidth when not printing. Please upgrade and let me know if it solves or alleviate the problem.

[2018-03-15 14:44] #40 closed

[2018-03-15 14:45] kennethjiang commented on #49
@rotaryfurball I released version 0.6.1 that solved #40. Can you please upgrade and let me know if it also solves this issue?

[2018-03-15 14:46] kennethjiang commented on #45
Closing due to inactivity.

[2018-03-15 14:46] #45 closed

[2018-03-19 00:16] rotaryfurball commented on #49
Hey sorry. The problem still occurs. I have attached pictures. The printer
is printing right now but it shows this( picture).
Sorry about the late reply, I was on vacation!

On Mar 15, 2018 7:46 AM, "Kenneth Jiang" <notifications@github.com> wrote:

[2018-03-20 03:29] kennethjiang commented on #49
@rotaryfurball Can you uploaded the picture directly to github? Somehow it was lost so I can't see it.

[2018-03-20 03:30] rotaryfurball commented on #49
No worries. Will do when I get home

On Mar 19, 2018 8:29 PM, "Kenneth Jiang" <notifications@github.com> wrote:

[2018-03-21 00:58] gregsadetsky opened #51 "clicking "Timelapses" in the getanywhere.io web app throws a JS error"
clicking "Timelapses" on getanywhere.io throws a JS error, and shows a blank screen. traceback below.

thanks for the great app/plugin!

[code]

[2018-03-21 04:47] kennethjiang commented on #51
Hi @gregsadetsky Thank you so much for reporting this error! It's a silly bug in my code. I will find a chance to fix it and let you know as soon as I have done it.

[2018-03-21 13:22] kennethjiang commented on #51
@gregsadetsky Just fixed the bug. Just refresh the page and it should work. No upgrade needed. :)

[2018-03-21 13:22] #51 closed

[2018-03-21 13:52] gregsadetsky commented on #51
That's fantastic, just confirmed it to be working again. Thank you!

[2018-03-29 22:47] cristianefe opened #52 "Deleting timelapses?"
Hello! Is there any way to delete timelapses?

[2018-03-30 12:33] kennethjiang commented on #52
There is currently no way to delete timelapses. I will add this feature whenever I get a chance to work on it.

[2018-04-03 14:24] cnlson commented on #42
i was just going to log a request for this when i had someone that i sent the link to a while ago tell me it still worked.

[2018-04-03 18:09] kennethjiang commented on #42
Hi @cnlson  you should be able to remove the sharable link, as in the attached screenshot.
<img width="2105" alt="screen shot 2018-04-03 at 11 08 36 am" src="https://user-images.githubusercontent.com/779786/38267125-69b35cae-372f-11e8-8cd1-2a305a11bdf8.png">

Let me know if the link is still active even after you turn it off.

[2018-04-03 19:00] cnlson commented on #42
Yes but I'd like to be able to share when I'm doing a project for someone and don't want to continue sharing months down the line.

Maybe generate a new hash each time it is turned off and back on?

[2018-04-03 19:40] kennethjiang commented on #42
Every time you turn the sharing off and turn it on again it'll be a different link. Let me know if it's not the case for you @cnlson

[2018-04-03 21:06] cnlson commented on #42
you are correct. I don't know if i hadn't disabled it in a while or what. but thank you!

[2018-04-05 07:09] DigChaos opened #53 "Is OctoPrint-Anywhere crashing my Octoprint service"
Love the plug-in, i'm really hoping this isn't what is causing my issue. I have 2 machines running this plugin in and both are mysteriously stopping after a few hours of printing intermittently. Here is a copy of the log https://pastebin.com/ePBFfTwh

Any ideas?

[2018-04-05 20:42] kennethjiang commented on #53
From the logs it looks like somehow the connection from your OctoPi to the internet was shaky. The errors in logs were from every time when OctoPrint Anywhere tried but failed to connect to the server.

Although the connectivity issue doesn't seem to be caused by OctoPrint Anywhere plugin, I'll be happy to have a google hangout session to troubleshoot the problem. Feel free to email me at kenneth

[2018-04-07 19:16] rotaryfurball commented on #49
![screenshot_20180318-171441](https://user-images.githubusercontent.com/25212269/38459373-8974ba5c-3a5d-11e8-82ef-20464f15587b.jpg)

[2018-04-10 23:52] kennethjiang commented on #52
@cristianefe Just added the function to delete timelapse. Just refresh the time lapse page you will see it. No plugin upgrade is needed.

[2018-04-10 23:52] #52 closed

[2018-04-10 23:55] devsfan1830 opened #54 "[Feature Request] Zoomable Video feeds"
In order to be able to catch any fine print errors via the feed that we might want to stop I think it would be nice if the website supported the pinch/spread to zoom in and out to resize/stretch the video window. Similarly, it would be nice be able to fullscreen stretch the feed on a desktop browser.

[2018-04-12 18:55] kennethjiang commented on #54
@devsfan1830 Now the page is zoomable. You can just head to the dashboard and refresh the page. No plugin upgrade is needed.

[2018-04-12 18:55] #54 closed

[2018-04-12 18:56] kennethjiang commented on #47
@JD2005L @Quintin9801 full screen turns out to be non-trivial to do. But now the image is zoomable (https://github.com/kennethjiang/OctoPrint-Anywhere/issues/54). I hope this at least solve part of your problem.

[2018-04-12 20:29] JD2005L commented on #47
Yep works for me.  Thanks!

[2018-04-13 15:08] supersoulman opened #55 "Login page is invisible"
The login page for getanywhere.io on iOS safari is invisible.

https://i.imgur.com/tQj7tLZ.jpg

[2018-04-17 12:35] kennethjiang commented on #55
@supersoulman Sorry for the delay. Will take a look at it!

[2018-04-22 20:48] enotsone opened #56 "OctoPrint-Anywhere installs fine but isn't seen as a plugin"
Using OctoPrint 1.3.8 (OctoPi 0.14) and using the plugin manager to install OctoPrint-Anywhere (0.6.1) the install goes fine with no errors.  When it is done, a dialog comes up saying 'Installed: unknown' and when the reboot of the OctoPrint service is done, the OctoPrint-Anywhere doesn't show up under the tool menu.  When I go to install it again, it sees that it was already installed and does a

[2018-04-23 16:06] kennethjiang commented on #56
It looks like OctoPrint 1.3.8 somehow broke the compatibility. Will working on fixing it asap.

[2018-04-25 00:57] kennethjiang commented on #55
@supersoulman I tried it on Safari on an iPhone 8 but was able to see the login page. What iPhone are you using?

[2018-04-25 11:51] supersoulman commented on #55
I am using an iPhone 10.
Here is a video of the issue. https://streamable.com/ijhl1

[2018-04-25 11:56] supersoulman commented on #55
Okay just discovered, while typing this comment, if I just change tabs in safari and come back the login boxes appears.

https://streamable.com/irctq

[2018-04-25 18:32] kennethjiang commented on #55
Thank you so much @supersoulman for the gif. It made it clear to me what happened.

I found a iphone x to try it and didn't have the same issue. So I'm not entirely sure why it's different on your iphone.

One thing that might help is: if you directly go to https://www.getanywhere.io/app/devices (I noticed that you went to https://www.getanywhere.io/pub first), you will directly go to the dashboar

[2018-05-15 13:41] MoruRising opened #57 "Cancel not working"
Have been doing a few tests, and i can get octoprint to cancel from the local page. But when using the plugin it does not cancel the print. The temperature continues to stay at target but the positioning stops.

[2018-05-15 15:14] kennethjiang commented on #57
What OctoPrint version are you using @MoruRising ? I tested cancellation function on my OctoPrint (1.3.8) just now and it worked...

Also if you have not upgraded to the latest version of OctoPrint Anywhere plugin, please do so.

[2018-05-15 19:45] kennethjiang commented on #57
From the log it appears that when you canceled the job using the plugin, there was a serial error. That serial error could have happened to be there, but more likely it was because OctoPrint Anywhere plugin sent the cancel order in a slightly different way than OctoPrint itself.

Can you find the `serial.log` with the timestamp that is just before the last one? The `serial.log` in your zip only ha

[2018-05-15 19:59] MoruRising commented on #57
Sure thing, here you go!
[serialLogs.zip](https://github.com/kennethjiang/OctoPrint-Anywhere/files/2006497/serialLogs.zip)

[2018-05-15 22:17] kennethjiang commented on #57
It looks like canceling through the plugin will cause OctoPrint to send different gcode from directly cancelling it in OctoPrint. Will investigate more and get back to you on it.

[2018-05-16 06:48] Thisismydigitalself opened #58 "Privacy statment"
Thank you very much for sharing this great plugin. I would love to try it out but before doing so can you please state your plugin privacy policy? What (if any) information it collects?

Thank you.

[2018-05-16 12:58] kennethjiang commented on #57
Hi @MoruRising I guess your printer's firmware is different from mine so OctoPrint sends slightly different Gcode to cancel a job. After examining `serial.log.2018-05-15_17-09-56` you sent, here is what I found out:

When you cancelled the job directly in OctoPrint, the Gcode sequence is:
[code]

When you cancelled it using the plugin, here is the Gcode:
[code]

I'm not an expert on 3D printer gco

[2018-05-16 13:09] kennethjiang commented on #58
Hi @Thisismydigitalself Thank you for asking this question.

Since this is a free app (it actually costs me money to save time-lapses in the cloud), I can't afford a lawyer to write up a privacy policy. The only thing I can say is that the app doesn't save an info (except time-lapses) about the 3D printer or the user. The information shown on the dashboard, such as IP address, are all thrown away

[2018-05-16 13:09] #58 closed

[2018-05-16 14:34] MoruRising commented on #57
Thanks for looking into that! And sure thing, feel free to email me at dreamevolved@gmail.com.

[2018-06-17 12:41] Quas7 opened #59 "Feature Request: Send G-code (scripts) to printer like in the terminal"
Hi,

to adjust Z-distance during printing of the first layer remotly, I would like to be able to send M290 and G92 to the terminal (Z-babystepping).

http://marlinfw.org/docs/gcode/M290.html
https://forum.duet3d.com/topic/209/babystepping-by-g-code-macro/10

see also my second "zoom in video" request for this purpose.

Best,
Quas7

[2018-06-17 12:44] Quas7 opened #60 "Feature request: zoom in function for video feed"
Hi,

in order to check for first layer quality remotly it would be great to have a "zoom in" together with a "pause video" or "shoot still image" function. Together with a babystepping G-code sending option a fine tuning of the first layer would then be possible (https://github.com/kennethjiang/OctoPrint-Anywhere/issues/59).

Best,
Quas7

[2018-06-20 03:00] midashand33 opened #61 "Camera feed freezing"
Installed OctoPrint Anywhere yesterday and it is very handy. Already has allowed me to stop a print that came loose from the bed before it wasted a bunch of filament.

However, the page seems to be freezing and/or dropping the video feed somewhere between 10 and 60 seconds after the page loads. Sometimes the video grays out slightly, sometimes it just freezes, sometimes it disappears entirely.

I

[2018-06-20 03:05] midashand33 commented on #61
Additional information: I am running on a Raspberry Pi 3 model B and streaming over WiFi. No other devices are on the network at the time. (I put my desktop to sleep and everything is turned off or taken with me when I leave for work.)

[2018-06-20 03:30] kennethjiang commented on #61
Thank you @midashand33 for submitting this issue.

OA streams webcam feed at ~3 frames/sec when it's printing, and slows down the rate to about 1 frame/10s when it's not printing to save the bandwidth. So if the feed freezes for about 10s when it's not printing, it's quite normal. However if it freezes when it's printing, please let me know so that I can take a close look.

The video grays out whe

[2018-06-20 03:56] midashand33 commented on #61
This is while it is printing. I had an 11+ hour print that I was monitoring today at work. Refreshing the page fixes it temporarily, but it freezes again after a minute or so.

[2018-06-20 04:11] kennethjiang commented on #61
It does sound like you are running into connectivity issues.

Can you find the`octoprint.log` that covers the period when the video froze and post it here? You can check https://discourse.octoprint.org/t/where-can-i-find-octoprints-and-octopis-log-files/299 for how to do it.

[2018-06-20 15:11] kennethjiang commented on #61
Hmmm it sounds like an issue if it disappears and reloads often. Does it do that only when you switch back to OA dashboard page, or even when you stay on the page?

[2018-06-21 22:32] midashand33 commented on #61
I just have the dashboard page up on a second monitor. The drop and reload happens every hour...maybe two?

[2018-06-22 12:51] kennethjiang commented on #61
So it does sounds like a bug. Hopefully it's just annoying not really impacting the usefulness. I'll try to reproduce it and tackle it when I get a chance.

[2018-07-01 06:48] rvermeiren opened #62 "Feature request : fluid video option"
Hi, I have read you limit the frame rate of the video for bandwidth saving. I think it's a great idea but it could be nice to add an option to temporary increase the frame rate and have a good real-time view. Also, I have received your mail about the future of this project, and as a newly born dev (just finished my master degree), I could potentially give you some help to improve Anywhere ;-)  I w

[2018-07-02 12:28] kennethjiang commented on #62
I'll love to get your help! Feel free to send me email at k@getanywhere.io to further coordinate with me.

If/when you dig a bit deeper in the code, you can see that currently OA is sending about 3 frames/s when the printer is printing. And it slows down to  about 1 frame/10s when the printer is idle. This can be changed to something like "if user is watching it, send it at higher rate. Otherwise,

[2018-07-13 20:55] kennethjiang commented on #40
@starxraider @GrueMaster @hakan42 @LilBub I released version 0.7.0 that further slows down the upload bandwidth when the webcam feed is not being watched. Please upgrade.

[2018-07-13 20:56] kennethjiang commented on #49
@rotaryfurball I just released 0.7.0, which further reduces the upload bandwidth when webcam feed is not being watched. Please upgrade and let me know if you still experience the same issue.

[2018-07-13 20:59] kennethjiang commented on #62
@rvermeiren I just released 0.7.0. The new version will stream webcam feed at full speed only when it's being watched, otherwise it'll steam at a much lower rate (~ 1 frame/ 20s).

[2018-07-13 20:59] #62 closed

[2018-07-14 20:44] LilBub commented on #40
Thanks...I just installed this last night and suspect I have it...didn't notice the whole house lagging from two printers running this time!

[2018-07-14 21:42] kennethjiang commented on #40
I am glad to hear that 😁

On Sat, Jul 14, 2018, 1:44 PM Paul <notifications@github.com> wrote:

[2018-07-16 22:50] kennethjiang commented on #61
@midashand33 Please upgrade to version 0.7.0 if you haven't got a chance. There was a significant change in that version on how webcam feed is delivered that will not only result in lower bandwidth consumption, but hopefully also in a smoother feed. Let me know if it's the case for you.

[2018-07-21 21:59] pb777 opened #63 "Fee for Printers"
I got a message, that I need to pay 5$ for every printer beyond the first one! "You have more than 1 regisstered 3D printers. In the next couple weeks you will start to be charged by $5/printer/month for all printers beyond the 1st one"

1. I have only one printer registered
2. I checked the whole Page: Where is the hint that this service is chargeable?

Thanks!

[2018-07-21 22:32] bwaslo opened #64 "Is there a way to shut off an Octopi server through this interface?"
I keep reading how the Raspi should be shut down by command before yanking power.  But could there be a way to do that from OctoPrint-Anywhere (or is there already?).

[2018-07-22 00:07] kennethjiang commented on #63
Hi @pb777 Thank you for submitting this issue.

The service is free for now. But I'll have to start a non-free service tier soon to cover the cost of cloud service. I'll have the needed info on the website when I'm ready to do so.

What's the email address you used to register with OctoPrint Anywhere. I'll take a look to see why you had only 1 printer but still received the payment warning.

[2018-07-22 01:02] bwaslo commented on #64
Hi Kenneth,

Thanks for replying.  My work cycle is that I have the printer in the
basement and the PC used to design stls and send gcode to the Pi upstairs (
via the Octopi web interface).  So I don't have the web app easy to access
when Im down in the print room.  Usually not a problem but sometimes I need
to kill power when I'm down there but then would have to go up a floor to
do safe shutdown

[2018-07-22 02:06] kennethjiang commented on #64
I see your situation now.

One of the function on my roadmap for OctoPrint Anywhere is to let users extend its function (for instance, one other user said he'd like to extend it to control the light). It sounds like this can be an easy extension once I have that function built.

Of course, if there are enough users requesting the same feature, I'll be happy to build it.

I'll leave this issue open

[2018-07-22 12:40] kennethjiang commented on #63
I found your account and yes you only have 1 registered printer. What you experienced was probably caused by a bug that I fixed about 8 hours ago. When you log in again if you still get this message, please let me know.

[2018-07-26 15:41] kennethjiang opened #65 "Bandwidth saving option doesn't persist across logins"
It's causing confusion because users will most likely assume that it's about saving bandwidth between OctoPi and cloud. In fact it's about saving the bandwidth between cloud and browser/phone.

Need to come up with a better wording, or a tool tip to explain it.

[2018-07-30 22:47] kennethjiang commented on #65
It turned out to be a misunderstanding on what "bandwidth saving" toggle means. Released a version to clarify it.

[2018-07-30 22:47] #65 closed

[2018-07-30 22:48] kennethjiang commented on #63
@pb777 Closing this issue now since I believe the issue is fixed.

[2018-07-30 22:48] #63 closed

[2018-07-30 22:52] kennethjiang commented on #57
Closing this ticket since this seems to be a combination of OctoPrint and your old M3D printer. @MoruRising Feel free to reopen it if this is still an issue for you.

[2018-07-30 22:52] #57 closed

[2018-07-30 22:52] kennethjiang commented on #31
Done!

[2018-07-30 22:52] #31 closed

[2018-07-30 22:56] kennethjiang commented on #46
Hi @cptprime  I'm cleaning up old issues. Do you still experience this issue? If not I'd like to close it.

[2018-08-04 16:36] mylife4aiurr commented on #48
I see you are now charging users for more then 1 instance. OK. I would consider paying but I still need this issue addressed. Have 5 printers.

I would need at a minimum to have actively printing printers presented 1st to user. So I dont have to scroll to find active printers. With printers doing nothing in between the ones printing.

Wish list:
Main screen with thumbnail sized windows of all prin

[2018-08-04 16:55] kennethjiang commented on #48
Yes sorting the card is on my roadmap. I can definitely pull it in. The default sorting will be by status (active -> idle -> offline). You can also choose to sort by name. Does it sound like what you want?

By "clicking one to view", do you mean to view webcam feed in full screen? Or you mean screen with only 1 printer?

[2018-08-06 15:42] mylife4aiurr commented on #48
The sorting option is great as a minimum option.

This suggestion/option is for going beyond the minimum.... My wishlist.
If User has 3 or more printers.
Main screen is clickable icon/thumbnail view of all printers.
If I want to full screen a printer, I can click on it's smaller pic/icon to get a full screen view (the screen u already have implemented) then I could stop print, raise head, etc - yo

[2018-08-06 16:39] kennethjiang commented on #48
@mylife4aiurr I just released a new version that includes sorting.

Is the reason why you want the thumbnail view because you want to see webcam feed from all printers at a glance? If so, I'm wondering if the thumbnail images will be too tiny for you to get the info you'd like to get anyway (such as if a printer is failing). Let me know if I misunderstood you.

[2018-08-06 17:03] mylife4aiurr commented on #48
Yes correct, my use case for multiple printer view is while away using a cell phone. If Octoprint doesn't support a good way to scale each small window for a particular phone or tablet screen then don't bother.

Thanks for implementing a sort function...

[2018-08-06 17:38] kennethjiang commented on #48
I'm not a big fan of "click to see detail / back button to thumbnail view" user interaction. I have been in many mobile-oriented projects and it's clear to me that card-based UI that requires mostly swipes  opposed to clicks is just much better user experience. I doubt that you would like that user experience even if I implemented the thumbnail/detail UI.

At some point I may implement the feature

[2018-08-06 17:39] kennethjiang commented on #61
@midashand33 I'm closing this issue since OA has improved a lot and this issue is most likely gone with all the bug fixes I put in. However feel free to re-open it if you still experience it.

[2018-08-06 17:39] #61 closed

[2018-08-06 19:08] #46 closed

[2018-08-06 19:13] kennethjiang commented on #53
@DigChaos It's pretty obvious now that the random crash issue is not caused by my plugin as it happens to other users without my plugin installed. This [OctoPrint issue](https://github.com/foosel/OctoPrint/issues/2647#issuecomment-391329662) has more details.

Also please note that I have improved the plugin a lot by reducing the bandwidth it requires. The new version barely sends any data when no

[2018-08-06 19:13] #53 closed

[2018-08-06 19:15] kennethjiang commented on #49
Hi @rotaryfurball I assume that you either no longer use this plugin or no longer experience this problem. So I'm closing this issue for now. Feel free to re-open it.

[2018-08-06 19:15] #49 closed

[2018-08-21 17:57] ironjoe13 commented on #56
I have this same problem with 0.15. octopi and 1.3.8 Octoprint

[2018-08-22 01:34] kennethjiang commented on #56
Hi @ironjoe13 Can you post your `octoprint.log` file here? Refer to [this document](https://discourse.octoprint.org/t/where-can-i-find-octoprints-and-octopis-log-files/299) for how to do download the log file.

[2018-08-22 15:25] kennethjiang commented on #56
Awesome thanks!

[2018-08-22 17:46] ironjoe13 commented on #56
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/2311441/octoprint.log)

[2018-08-22 19:35] kennethjiang commented on #56
From your `octoprint.log`, the installation of OctoPrint Anywhere succeeded at 2018-08-21 17:24:27 (UTC), and the status of the plugin changed from `disabled` to `active` after OctoPrint restarted.

Can you see OctoPrint Anywhere config page as below?
<img width="1161" alt="screen shot 2018-08-22 at 12 34 24 pm" src="https://user-images.githubusercontent.com/779786/44486209-c717ae80-a607-11e8-8ef8

[2018-08-22 19:50] ironjoe13 commented on #56
It does not show up. I just tried to install it again after it was uninstalled yesterday and got this with the Unknown plugin notice:
![anywhere](https://user-images.githubusercontent.com/33383148/44486926-8bd2ab00-a61a-11e8-8966-2d1ffb1ab0f4.JPG)

[2018-08-22 19:52] ironjoe13 commented on #56
[plugin_pluginmanager_console.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/2311782/plugin_pluginmanager_console.log)

[2018-08-23 00:55] kennethjiang commented on #56
The failed installation happened at  2018-08-22 19:46:20 UTC. The succeeded installation in your previous `octoprint.log` happened at 2018-08-21 17:24:27 UTC. Were these 2 installations on the same OctoPrint (1.3.8 I assume)?

What did you see after the succeeded (at least according to `octoprint.log`) installation at  2018-08-21 17:24:27 UTC? Did you still not see the OctoPrint Anywhere config di

[2018-08-23 10:26] ironjoe13 commented on #56
Octoprint Anywhere was visible and working on the 1.3.9 install onto separate Raspbian system. Yes I did uninstall and reinstall, no change.
The "successful" install at 17:24 was followed by :
2018-08-21 17:31:58,020 - tornado.access - WARNING - 403 POST /api/plugin/anywhere (127.0.0.1) 14.19ms
2018-08-21 17:45:49,075 - tornado.access - WARNING - 403 POST /api/plugin/anywhere (127.0.0.1) 14.73ms
I

[2018-08-23 15:26] kennethjiang commented on #56
Thank you so much for catching those 403 errors.

There are some existing OctoPrint issues that may be similar to this. In https://github.com/foosel/OctoPrint/issues/2184 it was suggested it could be caused by a permission issue in `/tmp/` folder.

https://github.com/foosel/OctoPrint/issues/1881 suggests that this issue should be fixed in 1.3.9

If none of these solutions helped, feel free to log

[2018-08-23 18:00] ironjoe13 commented on #56
I have gotten the temporary error before, I haven't figured out why as of yet.... I believe it has something to do with when I am on YouTube on one browser page, and Octoprint on another page(separate displays, displaying both pages at once)
I will update to 1.3.9 and let you know what happens

[2018-09-16 06:22] kennethjiang opened #66 "The way to get current IP address is not compatible with Windows"
It results in errors: `hostname -s is not supported`.

[2018-10-02 03:41] greg-wood opened #67 "No camera"
I am not getting any camera feed either when idle or printing. I am using the multicam plugin, not sure if that might be the issue.

![image](https://user-images.githubusercontent.com/35552379/46328142-22579c00-c5cb-11e8-8d0a-c3597bf4a3b3.png)

[2018-10-02 23:49] kennethjiang commented on #67
It's possible that OA is not compatible with MultiCam plugin. Will investigate it.

[2018-10-03 13:09] kidwon13 commented on #67
I have a similar issue. My OA webcam feed was working and now it's not. I run my webcam on Yawcam connected to a pc. The feed is still working normally in Octoprint, I can access it fine with a browser and I also have the feed set up in Blue Iris and it works okay there too but since yesterday I no longer see it in OA.

[2018-10-03 13:52] kennethjiang commented on #67
@kidwon13 Are you also using MultiCam plugin?

[2018-10-03 14:13] kidwon13 commented on #67
No I am not. It also started working when I started printing. It just wasn't displaying while idle.

[2018-10-03 14:33] kennethjiang commented on #67
The cam feed has longer lag when printer is idle to save bandwidth. But if you wait, say more than 30 seconds and the cam feed is still not coming up, then I'm pretty sure it indicates some bug in the code. Will be happy to dig deeper if that's the case.

Can you send me the `octoprint.log` file?

[2018-10-03 15:55] kidwon13 commented on #67
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/2442743/octoprint.log)

[2018-10-03 21:28] kennethjiang commented on #67
Hi @kidwon13 It looks like the wifi network your OctoPi is on has sporadic connectivity issues. For instance, OctoPrint Anywhere couldn't reach to internet during the periods of 2018-10-02 21:34 - 2018-10-02 21:38 (GMT), 2018-10-03 05:30 - 2018-10-03 05:34. There were also times when the Yawcam couldn't be reached.

Next time when you lose the cam feed, can you SSH to your OctoPi to check if it ha

[2018-10-03 22:37] kidwon13 commented on #67
I seem to still be losing webcam access when the printer is idle. I did ssh into my raspberry pi and I can ping an internet ip address no problem (I used 4.2.2.2 for my test). Even while I was pinging I did not have the webcam feed on getanywhere.io but I do see it both in the web access to yawcam and on the control tab of octoprint.  I think the wi-fi outages you saw were when I was making config

[2018-10-03 22:41] kennethjiang commented on #67
Thanks a lot @kidwon13  for the detailed info. It sounds like we need a screen sharing session to debug further.

Can you send me email at kenneth dot jiang at gmail dot com to coordinate a time?

[2018-10-04 00:15] kennethjiang commented on #67
@greg-wood I installed MultiCam myself and it still works.

@kidwon13 helped me find a bug in the cam feed code (thank you @kidwon13!). Just fixed it and released 0.8.5 for that.

Can you upgrade to 0.8.5 to see if that solves your problem too. If not, can you post the screenshots of your webcam config and MultiCam config page (I posted the screenshots for my configuration as examples)?

<img widt

[2018-10-16 18:34] codemonkey2k5 opened #68 "I had to remove the plugin because network outages caused Octoprint to crash..."
I was beta testing a router that was less then stellar but it brought out a problem with this plug-in.
If during a print my pi would for any reason lose network connectivity my print would crash.

And it would do so in a scary way.  The printer would just stop where it was and all heat would stay on.

For more information and some logs to look at, there is a thread here: https://discourse.octoprin

[2018-10-18 12:01] kennethjiang commented on #68
@codemonkey2k5 Thank you for reporting this issue and sorry for the delay?

By "losing network connectivity", do you mean ethernet connectivity (which seems to be what is indicated in the forum discussion in your link)? I know most of the OA users, myself included are on Wifi, and we lose connectivity quite often but usually it doesn't cause anything except you can't get status update on the dashb

[2018-10-26 00:28] kennethjiang opened #69 "Show loading indicator for print status/temperature for better user experience."

[2018-10-29 04:02] #69 closed

[2018-11-05 22:41] kennethjiang commented on #68
Fixed in 0.9.0. Thank you @codemonkey2k5 for testing this fix for me.

[2018-11-05 22:41] #68 closed

[2018-11-05 22:42] kennethjiang commented on #67
Closing it with the assumption that it's fixed.

[2018-11-05 22:42] #67 closed

[2018-11-05 22:44] kennethjiang commented on #56
@ironjoe13 are you still experiencing this error?

[2018-11-07 12:30] onemadpunk commented on #56
Hi there i am having trouble installing your plugin as well. andy help would be appreciated as it seems a great addition to octoprint.

Installing plugin "OctoPrint Anywhere" from https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip...
/home/pi/oprint/bin/python2 -m pip install https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip --no-cache-dir
Collecting https://

[2018-11-07 13:43] kennethjiang commented on #56
Hi @onemadpunk , the log file shows that it failed to download the plugin zip file from github. The most likely cause was that your Pi couldn't connect to internet at that time. Please make sure your Pi can connect to internet and try it again. Please note that it's possible that your computer can connect to internet but your Pi can't. So the best way to test its internet connection is to ssh to t

[2018-11-07 14:37] onemadpunk commented on #56
Hi there

Updated the PIP to 18 not sure what that is but it was the error on screen
/home/pi/oprint/bin/python -m pip install --upgrade pip

it then installed the plugin.

in octoprint settings i only see
PLUGINS
Action Command Prompt
Bed Leveling Plugin
CuraEngine (<= 15.04)

if i go to plugin manager i can see your plugin installed and enabled
OctoPrint Anywhere (0.9.0)
Control your OctoPrint f

[2018-11-07 19:39] onemadpunk commented on #56
Hi there I have the issue that it is now showing as installed in plugin manager but not seen anywhere else. I cant access the plug in.

It does not show on the plug in list. and a did not get a set up wizard. I have tried re installing but still the same issue.

Any idea what I am doing wrong ?

Thanks again

[2018-11-07 21:21] kennethjiang commented on #56
Oh sorry I thought your issue was about being unable to install. Re-opening this issue.
Did you see the OctoPrint Anywhere settings page, as in the screenshot attached?
<img width="1440" alt="screen shot 2018-11-07 at 1 20 12 pm" src="https://user-images.githubusercontent.com/779786/48161646-eb426d80-e28f-11e8-88f9-c895b79cba0d.png">

[2018-11-07 22:03] onemadpunk commented on #56
![annotation 2018-11-07 220229](https://user-images.githubusercontent.com/21010803/48163902-e35aeb80-e2d8-11e8-90ca-07776e2cb408.jpg)

Hi there I hope this helps show the issue.
Thanks
Steven

[2018-11-07 23:57] kennethjiang commented on #56
Ah I got it now. Thank you so much @onemadpunk for the screenshot!
Can you send your `octoprint.log` file to k@getanywhere.io? I'm hoping that file can provide some insights.

[2018-11-08 06:19] onemadpunk commented on #56
Hi there I have emailed the file as requested, thanks again for the help.

[2018-11-09 21:06] kennethjiang commented on #56
Thank you so much @onemadpunk for letting me debug it on your pi and figured this out.

@ironjoe13 @enotsone  if you are still having this issue, you can try the solution that worked for @onemadpunk
- SSH to your Pi.
- run `/home/pi/oprint/bin/pip uninstall raven`
- Uninstall and re-install OctoPrint Anywhere plugin.

[2018-11-09 21:06] #56 closed

[2018-11-18 16:04] rickgode commented on #66
Did you fix this?  I didn't notice all those errors in the latest release.  I'm guessing so?

Ricky

[2018-11-18 18:09] kennethjiang commented on #66
Did fix it. Forgot to close it. :)

[2018-11-18 18:09] #66 closed

[2018-11-29 17:25] Delta-38 opened #70 "Feature Request: Improve Movement commands"
I really like Octoprint-Anywhere, however I find that the movement commands could be improved,
when I first installed Octoprint to manage my printer I instantly fell in love with the scalable movement approach of the Control tab, where moves can be set with scale.
So I think it would be very nice if you could add movement scale 1/10/100mm on the various axes.
More importantly though, sometimes mov

[2018-11-30 14:01] kennethjiang commented on #70
Thank you @Delta-38 for making a very detailed suggestion. And sorry for the delay in my response.

I agree with most of what you said. But I have a different opinion on the variable movement scale (1/10/100mm). 2 problems that I have with that interface are: 1) It requires more finger/mouse movements and clicks, and 2) Quite often I didn't notice the scale was on 100mm when I clicked the up arrow

[2018-12-05 11:23] Codetron opened #71 "[Feature Request]: Event on clientOpenedAnywhere & clientClosedAnywhere"
Hello, great plugin, you did a really good job.
Looking through all the plugin files, I could not find any yaml events related to the connection or disconnection of a client.
I was wondering if it was possible to implement this feature.
I use events to automate the lighting of leds when a client connects to the Octoprint server.
I bring the code below:
in config.yaml I entered this and it works gr

[2018-12-05 14:16] kennethjiang commented on #71
Hi @Codetron This is a good suggestion.

There is currently no custom events or actions defined in OctoPrint Anywhere. It'll take a while to implement if I decide to do so.

Will keep you posted.

[2018-12-12 20:59] Delta-38 commented on #70
Sorry for the delay, I didn't see the notification :)
Regarding the scale of movement yes, I understand what you are saying, and sometimes that happens to me too, however my workflow with the remote (After the end gcode parks the bed forwards and the extruder on the X endstop) is usually just shifting the head and plate so as to nudge the completed part down to the side, so I don't usually raise t

[2018-12-13 03:46] kennethjiang commented on #70
Hah it's a very creative way to knock off part using print head. I've heard people talk about this idea but you are the only one I know of who is really doing this. :)

Although I use OA to move nozzle even if I'm next to the printer, I suspect most users are like you - use OA only when they are remote, what you suggested make a lot of sense.

I will think about if/how I can redesign the nozzle mo

[2019-01-04 15:42] nkuck opened #72 "Anywhere just waits for camera feed"
Re-flashed the Pi, camera ok in Octoprint but can't use it via anywhere. What to check/change? Thanks.

[2019-01-04 15:46] nkuck commented on #25
I am having the same issue. Is there a fix? Thanks for the help.

[2019-01-04 20:21] kennethjiang commented on #25
I suspect your Pi doesn't have a reliable internet connection. Can you send me `octoprint.log` so that I can take a look? @nkuck

[2019-01-04 20:23] kennethjiang commented on #72
Closing it for the duplicate with #25 . @nkuck please take a look at the comment in #25

[2019-01-04 20:23] #72 closed

[2019-01-04 20:24] nkuck commented on #25
Thanks, but got it working a couple of hours ago. Registered a new printer and deleted the old one.
On Jan 4, 2019, 3:21 PM -0500, Kenneth Jiang <notifications@github.com>, wrote:

[2019-01-04 21:01] kennethjiang commented on #25
Glad to know it worked for you.

[2019-01-04 21:01] #25 closed

[2019-01-13 18:11] Foxbiker opened #73 "Printer Offline"
Octoprint version 1.3.10 with Klipper SW. Getanywhere page showing video stream but printer is show like offline and remote functions not active.
![image](https://user-images.githubusercontent.com/43917956/51089009-d4743780-1766-11e9-8464-e732f7354816.png)

[2019-01-13 21:54] kennethjiang commented on #73
@Foxbiker can you attach the "octoprint.log" file so that I can take a look? Thanks!

[2019-01-16 16:51] Foxbiker commented on #73
Sorry for delay. Here is the log:
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/2765187/octoprint.log)

[2019-01-16 17:30] kennethjiang commented on #73
No errors were found in the log file.

Another user had a similar issue recently and it turned out the routing fro his Pi to OA server is somehow not correct. In order to see if you are having the same issue, can you ssh to your Raspberry Pi and run this command:

`time curl https://www.getanywhere.io`

Please post the output of this command here. Thanks!

[2019-01-16 18:17] Foxbiker commented on #73
![image](https://user-images.githubusercontent.com/43917956/51269661-506abb80-19c3-11e9-83bf-c871b5d7af54.png)

[2019-01-16 18:38] Foxbiker commented on #73
One additional information. Because I´m using Klipper FW on the printer, Klipper plug-in is installed on the Octoprint. This plug is changing connection panel and maybe can change some statuses in the system. Only my maybe wrong prediction.

[2019-01-16 20:12] kennethjiang commented on #73
I suspect you are experiencing similar issue with another user. 3.4s is pretty big latency.

I have seen increased latency reports with similar issues very recently. I suspect it's probably caused by some ill-configured router that is acting up and impacting some OA users. I don't think this is something we can do too much about. Hopefully that offending network provider will soon find out and fix

[2019-01-16 21:03] Foxbiker commented on #73
Ok, thank you for advice I will check it.

[2019-01-17 01:48] kennethjiang commented on #73
Cool thanks!

[2019-01-22 11:33] kjgouldstone opened #74 "Email sends photo upside down"
I have rotated the Camera feed using settings however when the photo is sent in the print completion email it is still upside down. The email seems to ignore the settings.

[2019-01-22 18:40] kjgouldstone commented on #74
Great Thanks

[2019-01-23 04:33] kennethjiang commented on #74
@kjgouldstone just pushed a version to fix it. Let me know if it works for you.

[2019-01-25 12:38] kjgouldstone commented on #74
Hi,

I can confirm that the top to bottom flip has worked fine in the fix.

However the left to right flip does not seem to have worked.

See the clock showing 81 rather than 18.

Cheers
[image: unnamed (5).jpg]
Kim

On Wed, 23 Jan 2019 at 04:33, Kenneth Jiang <notifications@github.com>
wrote:

[2019-01-25 15:38] kennethjiang commented on #74
Ok I will look into it

[2019-01-25 16:22] kennethjiang commented on #74
What's your printer's orientation settings in OA?

I tested on my printer with only "Flip horizontally" and none of the other options checked. The image in the email came out correctly. I guess you probably also have "rotate 90/90cw" checked? Please let me know so that i can reproduce the problem.

[2019-01-25 17:36] kjgouldstone commented on #74
Hi,

yes I have flip vertically and flip horizontally ticked

Kim

On Fri, 25 Jan 2019 at 16:22, Kenneth Jiang <notifications@github.com>
wrote:

[2019-01-25 21:08] kennethjiang commented on #74
Got it fixed. No need to upgrade the plugin in. Your next print should have the correct orientation in email. Thank you for reporting this bug @kjgouldstone

[2019-01-25 21:08] #74 closed

[2019-01-28 18:43] kjgouldstone commented on #74
Great all working now.

Thanks for the support

Kim

On Fri, 25 Jan 2019 at 21:08, Kenneth Jiang <notifications@github.com>
wrote:

[2019-02-04 22:31] kennethjiang opened #75 "Have a mechanism to choose the timing when a snapshot is taken for timelapse poster and/or end-of-print email"
One option is to use a "pseudo gcode" in end script to trigger a snapshot in OA.
Pros:
* Precise at the timing.
Cons:
* Probably too technically difficult for most users to do
* How to document this feature and surface it so that most users can discover this capability when they need it.

[2019-02-05 17:48] Foxbiker commented on #73
Today I try it and it´s still the same - printer ofline, camera working well and remote functions disabled.

[2019-02-07 19:26] Foxbiker commented on #73
Here is it, I try it 3 times.

![image](https://user-images.githubusercontent.com/43917956/52437162-7abd1e00-2b16-11e9-8eaf-8b93dc5305ff.png)

[2019-02-07 21:05] kennethjiang commented on #73
It looks like the latency for you is consistently long (for most other users it fluctuates a lot).

I'll be migrating to a different hosting service in the next couple weeks. Will ping you again when it's done and test if the problem will be gone with that switch.

[2019-02-28 12:31] beeb commented on #36
Just commenting to propose another scenario where being able to start a job from Octoprint Anywhere could be useful. Imagine a raspberry pi running Octoprint is connected to the network by a cat5 cable. The workstation with access to the same network is in a different room or even different floor. The operator goes to the printer to load filament or clean build plate, and then wants to start print

[2019-02-28 22:42] kennethjiang commented on #36
@beeb thank you for providing this interesting use case. Will definitely keep it in mind.

[2019-03-28 12:47] foosel opened #76 ""error from callback [...]: __on_server_ws_msg__() takes exactly 3 arguments (2 given)""
I just rolled out 1.3.11rc1 which comes bundled with a new error tracking plugin based on `sentry.io` and I'm seeing a user who's got several instances of

[code]

in their `websocket` log.

Installed version of OctoPrint Anywhere appears to be 0.9.7.

Can't tell you if it's a general problem or only restricted to this one user, but from the nature of the error it looks like either some old code l

[2019-03-28 12:51] foosel opened #77 ""AttributeError: 'AnywherePlugin' object has no attribute 'config'""
Another thing that popped up thanks to the new error tracking plugin in 1.3.11rc1:

[code]

OctoPrint Anywhere version appears to be 0.9.7 as well.

Just wanted to report it before I mark it as "ignored" in my reporting.

Please tell me if you want to get these kind of things reported or if I should just blindly ignore them ;)

[2019-03-28 15:11] kennethjiang commented on #77
Thank you for reporting these bugs. @foosel Please keep them coming! :)

[2019-03-29 11:41] foosel commented on #76
For the record, it's a general issue, overnight the reporting got drowned in these messages from various users and in fact I had to disable error tracking for now as this (and some other third party plugin errors) was eating up the quota on my sponsored account.

[2019-03-29 14:19] tedder commented on #76
The good news is that it's exposing something is awry.

[2019-03-29 14:21] foosel commented on #76
True. Also in OctoPrint itself. Found a handful of bugs already, some of which have been in there a while but never were reported.

[2019-04-08 13:37] kennethjiang opened #78 "Multicam support"
Users who run OctoPrint with multiple cameras and Multicam plugin will want to view all cameras in OA dashboard.

[2019-04-08 14:11] mucsb commented on #78
This is really a missing feature for OPAnywhere. I kindly ask to enroll this in your development path.

[2019-04-18 20:34] owengraven opened #79 "Conflicting with other plugins"
I have an issue where I can install the plugin once, if I flash a fresh image and then install all the plugins I want, then last octoprint anywhere it works fine after setting it up.

If I add 1 more plugin I can't access the web interface anymore, the only fix is to boot into safemode and disable/uninstall octoprint anywhere.

If I then disable all my plugins, but only leave octoprint anywhere en

[2019-04-18 20:37] owengraven commented on #79
I also tested this 3 times on fresh installs, and also with only octoprint anywhere installed, in the beginning i didn't know safemode was a thing.

Plugins I use apart from default:
Themify
Navbar Temp
Bed leveling wizard

I don't have any others

[2019-04-18 21:37] kennethjiang commented on #79
Thank you so much for this detailed bug report @owengraven ! Will look into it!

[2019-04-18 21:44] kennethjiang commented on #79
Can you also post a screenshot on the page when you can't log into the web interface? I'm trying the same set up and it seems to be working fine.

[2019-04-18 21:48] owengraven commented on #79
It occurs whenever I install any other plugin after having installed octoprint anywhere.

basically it will try to refresh to reload but fail, and if I close the page and call the ip again it will just keep loading on a blank screen without doing anything. I've read this can occur with pre-emptive caching that it confuses itself. I also tried leaving it for a long time (half an hour) but it still

[2019-04-18 21:53] kennethjiang commented on #79
Ok. Will reflash my sd card and test it again from a blank one.

[2019-04-18 22:49] kennethjiang commented on #79
I still can't reproduce the problem. Here is what I did:

1. Install Octopi 0.16.0 to a formatted sd card.
1. install Themify plugin
1. install navbar temp plugin
1. install OctoPrint Anywhere (skipped registration)
1. install bed leveling wizard plugin (and it still worked)
1. register on OctoPrint Anywhere
1. reboot OctoPi. and it still worked.

I'm on Pi 3 Model B too.
OctoPrint version : 1.3.1

[2019-04-18 23:24] owengraven commented on #79
Tommorow i'll take a full image of my sd card so you can play around with it. I'll do some more testing too.

[2019-04-18 23:26] kennethjiang commented on #79
That works. I will load your image on my Pi to see what happens.

[2019-04-19 11:13] owengraven commented on #79
So i made the image, it's hosted on filemail because git didn't let me upload it.

https://fil.email/j4TAH6PL

Basically it's how i'm running it now, if you install octoprint anywhere it stops working, let me know if I can help troubleshoot more.

[2019-04-19 19:52] kennethjiang commented on #79
downloading it now. will take a while.

[2019-04-21 22:45] kennethjiang commented on #79
Thanks again @owengraven for providing me with this image. I found out the problem and fix it in release 0.9.8. Can you reinstall it to see if the problem is fixed?

[2019-04-22 14:27] Arakon opened #80 "0.9.8 not updating from 0.9.7"
When trying to update through Octoprint/Octopi, manually or automatically, the update goes through, no error messages. It then says that the server will restart. After restart, the version remains at 0.9.7 and offers the update again.
I'm running the latest stable Octopi (0.16.0) with Octoprint 1.3.10.

[2019-04-22 16:32] kennethjiang commented on #80
Thank you so much for reporting the bug. I messed up the versioning in `setup.py`. Just fixed it. Can you try to upgrade one more time to see if it'll still prompt you for the upgrade? @Arakon

[2019-04-22 16:56] dcarusil commented on #80
Bummer I had the same problem. I tried to re-update twice yesterday but ended up ignoring the prompt afterwards but now it seems that has borked my setup and I have something printing rn lol. Mr arakon please let us know if re-updating works because I will need to

[2019-04-22 17:06] kennethjiang commented on #80
@dcarusil So OA plugin is not working for you now? You can't see your print status or webcam on OA dashboard?

[2019-04-22 17:10] kennethjiang commented on #80
It's possible that wrong `setup.py` is cached in OctoPrint. Just pushed 0.9.9 to see if I can overwrite the cache.

[2019-04-22 17:11] dcarusil commented on #80
@kennethjiang After logging in to OA it shows the dashboard but with the updating icon indefinitely, the little square that flips around. No information is available, I'm flying blind rn

[2019-04-22 17:19] kennethjiang commented on #80
shit. sorry about that! when you are home and get a chance please update to 0.9.9 and lmk if it doesn't solve it.

[2019-04-22 21:10] owengraven commented on #79
Yep I can confirm the problem is gone. I even tried installing a plugin after it, and deinstall/reinstall and it still worked fine.

Good work mate, thanks for creating this awesome tool.

[2019-04-22 21:10] #79 closed

[2019-04-22 21:17] Arakon commented on #80
I just checked and it still tells me 0.9.8 is the latest available update.

[2019-04-22 22:36] kennethjiang commented on #80
Yeah! Let me know if any of you hit any issues again! Otherwise I will close this issue in a couple days.

[2019-04-23 02:45] dcarusil commented on #80
@kennethjiang the 0.9.9 update and a reboot fixed the issue! Thanks 😊 Have a good one, happy prints ahead!

[2019-04-29 03:49] FledPotato opened #81 "No camera feed, everything else works"
Using windows to run octoprint on a laptop and octoprint anywhere cant seem to get video. I still get it on the regular octoprint site, and controls/reads work great on both.

[2019-04-29 20:20] kennethjiang commented on #81
Can you post your `octoprint.log` file so I can take a look?

[2019-04-29 20:22] FledPotato commented on #81
Am I able to do that while a print is going? If not itll be done in about 20 minutes, then I can send you all the info and follow whatever steps you need to see the issue

[2019-04-29 20:24] kennethjiang commented on #81
I think it's ok to download the log files while it's printing.

[2019-04-29 20:30] FledPotato commented on #81
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3129093/octoprint.log)
Is this right? Im on my phone haha, also it says the file is from yesterday but I guess thats fine? If theres just a mess there i can try to get a new log

[2019-04-29 20:53] kennethjiang commented on #81
Thanks @FledPotato

From the log file it looks like the plugin couldn't connect to the configured webcam URL. Can you post a screenshot on your webcam and timelapse settings? [This link](https://www.thespaghettidetective.com/docs/webcam-feed-is-not-showing/#step-3-make-sure-webcam-url-settings-are-correct-in-octoprint) is for my another plugin but is relevant for the problem you are experiencing.

[2019-04-29 22:12] FledPotato commented on #81
![Screenshot_20190429-181020_Chrome](https://user-images.githubusercontent.com/50092596/56930296-318fc100-6aaa-11e9-9e25-d454d356de27.jpg)
The timelapse link thing doesnt work, but normal webcam stream does, also can i just show my ip to everyone like this?

[2019-04-29 22:41] kennethjiang commented on #81
I'm not a security expert but since it's your private ip I'd assume it's fine. I've been doing it many times.

Can you remove the value from `snapshot URL`? The plugin code looks for it first, and will try to use it if it's there. After you remove it, the plugin will fall back to webcam URL after OctoPrint is restarted.

[2019-04-29 23:55] FledPotato commented on #81
Still "waiting for camera feed"

[2019-04-30 00:34] FledPotato commented on #81
As well as i noticed the printer status is "idle" even if im mid print

[2019-04-30 05:29] dcarusil commented on #78
Hi, I just wanted to chime in as a user, being able to switch between camera feeds would be as sufficient as seeing two feeds at once. Thanks for all your dedication and work!

[2019-05-03 17:45] ShibumiDesign opened #82 "Time lapses no longer recording or uploading"
Having an issue where I can monitor and basic control my printer, but when starting a job through octoprint it only records time lapses natively on the octopi and does not record or upload through octoprint anywhere... nor does it email me when the print job is complete. I did however install custom marlin firmware that adds semi automatic mesh bed levelling. Last working time lapse through octopr

[2019-05-05 02:43] kennethjiang commented on #82
@ShibumiDesign sorry for the issue you are experiencing.

If you add `support@getanywhere.io` to your address book the emails should stop going to spam folder.

Do you have Octolapse plugin installed and enabled? If so you want to toggle on both `Record timelapse for you?` and `Upload Octolapse timelapses?`, as in this screenshot.

<img width="1440" alt="octolapse toggle" src="https://user-images.

[2019-05-05 02:46] kennethjiang commented on #81
Sorry somehow I missed your comments.

Did you clear the `snapshot URL` in your OctoPrint settings?

It sounds like a bigger problem if the printer status is off. In that case, you can download `octoprint.log` file and post it here again?

[2019-05-05 02:49] FledPotato commented on #81
Im mid print right now without ocotprint running, could I do this tomorrow? (11pm here) Then i can do all the troubleshooting after a fresh start of octoprint so the log isnt as messy, if thats how it works

[2019-05-05 14:39] kennethjiang commented on #81
A "messy" log is fine. The errors usually hide in all this messiness. :)

[2019-05-05 22:56] ShibumiDesign commented on #82
Hi, I actually just added octolapse to my system, and now they are uploading... octolapse giving me much nicer time lapses than the original.

Thanks for the reply

[2019-05-06 13:50] kennethjiang commented on #82
Cool! Closing the ticket.

[2019-05-10 02:47] FledPotato commented on #81
Sorry for the late response, but seems the issue was fault of another program, which was streaming my webcam. Switched software and reinstalled, now it works great! Is there any chance I could have a higher streaming fos though? My laptop is whats running ocotoprint so the webcam is always at 20-30 fps, which is quite a bit more than the capped site shows :/

[2019-05-10 11:47] kennethjiang commented on #81
Glad you figured this out!

We are actively working on a premium webcam streaming service that allows user to go to higher frame rate. However it'll be a paid service as it costs a lot to transfer the webcam pictures between user's network and our servers.

[2019-05-22 12:41] #81 closed

[2019-05-22 12:42] kennethjiang opened #83 "Option to change webcam resolution when user account is H.264 streaming"

[2019-05-22 18:34] kennethjiang opened #84 "Picture is missing from print notification email when the user is on premium service"

[2019-05-28 00:53] #80 closed

[2019-05-28 00:53] #83 closed

[2019-05-28 00:53] #84 closed

[2019-05-29 20:12] Mattwen opened #85 "Webcam framerate is much slower than on LAN"
The frame rate on OctoPrint-Anywhere is much slower than the frame rate of my Webcam on my LAN Octoprint stream. Is there any way to fix this?

[2019-05-30 00:25] kennethjiang commented on #85
OA streams webcam feed through the cloud (this is how you can access OctoPrint without port-forwarding), so we have to keep the frame rate low otherwise it'll cost too much internet bandwidth for most users.

However, we will be releasing a highly efficient video streaming (the same way as how YouTube streams videos) in a few weeks, which will give you 24 fps with about the same internet bandwidth

[2019-06-01 12:34] caninjpn opened #86 "file does not exist."
I installed Octoprint and was trying to install Octoprint Anywhere from the plugin manager but it's gave an error saying

I'm not sure why this error occurred as the path is correct.

[2019-06-03 12:01] jarjartee opened #87 "NOT in repository anymore ???"
OctoPrint-Anywhere not I plugin repo ??
URL not valid ??

Installing plugin...
Installing plugin from https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip...
Installation needs to process external dependencies, that might make it take a bit longer than usual depending on the pip version
/home/pi/oprint/bin/python2 -m pip --disable-pip-version-check install https://github.com/kenne

[2019-06-03 13:15] kennethjiang commented on #86
I'm puzzled too. The path indeed was correct. Are you running OctoPrint on a Raspberry Pi or a PC?

[2019-06-03 13:35] kennethjiang commented on #87
I just tested it and it installed normally on my OctoPi. Can you ssh to your Pi and run `/home/pi/oprint/bin/python2 -m pip --disable-pip-version-check install https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip --no-cache-dir --process-dependency-links` manually? Also can you download and post `plugin_pluginmanager_console.log` here?

[2019-06-04 11:18] caninjpn commented on #86
I'm running on a Raspberry Pi 3B+.
Aside from setting up I had to install a hotfix so the OctoPrint could communicate with my Monoprice Select Mini. I'm not sure if this will help but that's the only thing I can think of that may cause this problem.

[2019-06-04 12:45] kennethjiang commented on #87
@jarjartee  have you got a chance to run the command above?

[2019-06-04 12:45] kennethjiang commented on #86
Can you ssh to your Pi and run `/home/pi/oprint/bin/python2 -m pip --disable-pip-version-check install https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip --no-cache-dir --process-dependency-links` manually to see if you are getting the same error?

[2019-06-04 21:33] jarjartee commented on #87
Thanks, I’ll try tomorrow, had a mad day at work

[2019-06-08 16:14] smiles2102 opened #88 "Waiting for Camera Feed"
Hey there,

I have perused the other issues related to this issue, but the fix all seem to be specific to the user.

I am a new user of Octopi (~2 weeks) and installed your plugin, Octoanywhere.  When accessing octoanywhere.io, I receive the "Waiting for Camera Feed" and it never populates.

I saw that you previously ask for octoprint.log, so here is mine from today.
[octoprint.log](https://github

[2019-06-09 18:06] kennethjiang commented on #88
From your log file it looks like your Raspberry Pi occasionally loses internet connection but most of the times you should be fine.

Do you see the temperatures and print job status on OctoPrint Anywhere dashboard?

[2019-06-09 19:24] smiles2102 commented on #88
Hi there,

there is potential that was from me turning it off and on again? Or maybe not.

I do see the temperatures and print job status.

![image](https://user-images.githubusercontent.com/51513871/59163133-7c412780-8ab1-11e9-9e19-ffb23a8f0905.png)

[2019-06-10 00:00] kennethjiang commented on #88
So the plugin was able to talk to OA server just fine but somehow the image data didn't go through.

To further debug it, I will need to have a video conferencing session with you to go through a few trouble-shooting steps. Can you send email to support@getanywhere.io so that we can schedule a time?

[2019-06-18 14:14] farrerz opened #89 "Support for PSU control"
Many people use PSU control with OctoPrint to turn their printers on and off (https://plugins.octoprint.org/plugins/psucontrol/), it would be nice to be able to control this and the printer connection from OctoPrint Anywhere so that we can have that ability as well.

[2019-06-18 15:20] irmcdermott opened #90 "Not showing up in Plugin Manager or launching Setup Wizard"
I'm brand new, so I apologize if this isn't the right place for this.

Since I'm new, I've installed the latest version of OctoPi, and I downloaded Octoprint Anywhere from the repository. The on screen dialog says it installed successfully, but the Setup Wizard doesn't open. I tried reinstalling and it tells me that it is already installed but forces a new install. It also is not showing up in my

[2019-06-18 16:57] kennethjiang commented on #90
Thank you for submitting this issue report and sorry for the problem you are experiencing.

Can you attach "octoprint.log" to this issue so I can take a look? You can find the log file by following this instruction: https://community.octoprint.org/t/where-can-i-find-octoprints-and-octopis-log-files/299

[2019-06-18 17:53] eikeime opened #91 "fail to install on none raspberry pi device."
Cant successfully install plugins on none raspberry pi device due to unable to build picamera.

I am using a Nanopi Neo as a Octoprint server, when install from control panel, i get Error log:

  Building wheel for OctoPrint-Anywhere (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-4Jav6n/wheels/8b/a8/f7/cbf9348fc046008c688339a2cd21176147e6359ca931635da7
  Building wheel for p

[2019-06-19 03:19] irmcdermott commented on #90
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3304278/octoprint.log)

[2019-06-19 03:42] kennethjiang commented on #91
Thank you so much @eikeime for reporting this bug. I don't have a NanoPi so I need your help to figure out where it is broken and how to fix.

Can you ssh to your OctoPi to run these commands and post here the output of these commands?

[code]

[code]

[2019-06-19 03:52] kennethjiang commented on #90
Thank you @irmcdermott for sending me the log file. The log file revealed a weird error that seems to be caused by failure in python package management system.

Can you ssh to your OctoPi and run this command and post herewhat you see on the screen?

[code]

[2019-06-19 08:23] eikeime commented on #91
thank u for your great project first.
my octoprint is located in "/tools/OctoPrint/venv/"
so i run those two command from there, the returned result are
`linux-armv7l`

and

`processor	: 0
model name	: ARMv7 Processor rev 5 (v7l)
BogoMIPS	: 29.71
Features	: half thumb fastmult vfp edsp neon vfpv3 tls vfpv4 idiva idivt vfpd32 lpae evtstrm
CPU implementer	: 0x41
CPU architecture: 7
CPU variant	: 0x0

[2019-06-19 12:23] irmcdermott commented on #90
[op anywhere.txt](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3306046/op.anywhere.txt)

[2019-06-19 15:47] kennethjiang commented on #90
It looks like python module `backoff` was installed successfully. Can you restart OctoPi and see if OctoPrint Anywhere works correctly now?

[2019-06-20 02:34] irmcdermott commented on #90
i restarted and it was showing up in my plugin manager, but not showing up on the left hand column underneath "Plugins" and still not getting any kind of Setup Wizard. Sorry!
[plugin_pluginmanager_console.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3308513/plugin_pluginmanager_console.log)
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3308514/octoprint.

[2019-06-20 21:39] kennethjiang commented on #90
Thank you @irmcdermott .

Your new log file shows that it's now failing at another python module. I'm pretty convince that it is caused by a strange python module management bug.

Please ssh to your Pi and run this command `/home/pi/oprint/bin/python -m pip install raven picamera==1.13`.

These should be the last dependencies that were somehow in corrupted state. After that you restart OctoPi and

[2019-06-20 21:42] kennethjiang commented on #91
It looks like Nano Pi is using exactly the same CPU modules as RPi and that's why the plugin failed to tell them apart. I do a bit more research to see what's the best way to reliably identify if the plugin is running inside a RPi but it may take a while... sorry! @eikeime

[2019-06-20 22:00] NeoRame commented on #90
Same Problem here. i tried both commands...
the result till now, i can see the plugin in the manager, but no wizzards starts and there is no plugi in in the plugin list in the bottom left hand  corner.

[plugin_pluginmanager_console.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3312243/plugin_pluginmanager_console.log)
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywh

[2019-06-20 22:19] NeoRame commented on #90
THANK You, find a solution. uninstalled raven and reinstalled anywhere as you  mentioned here: https://github.com/kennethjiang/OctoPrint-Anywhere/issues/56#issuecomment-437495086

[2019-06-20 22:26] kennethjiang commented on #90
Thank you @NeoRame . I already forgot that we ran into similar issues before! Definitely a weird bug in python module management and/or Pi.

[2019-06-21 02:00] irmcdermott commented on #90
Thank you to both of you! Appears to be up and running now!

[2019-06-21 02:09] #90 closed

[2019-06-21 14:05] eikeime commented on #91
no hurry, just grabbed another raspberry pi zero for the project on hand.

[2019-06-21 17:20] kennethjiang commented on #91
Thank you so much your help and supportiveness. We just fixed it based on @thubot 's suggestion and released patch version 1.0.1. Please uninstall the plugin and install it again and it should work. I'll leave this issue open for a few days in case you still have problems with installation.

[2019-06-22 15:16] eikeime commented on #91
Just installed it again on the test board, total success, thank u for your quick response on this problem. :D

[2019-06-22 15:16] #91 closed

[2019-06-22 17:54] PeterDarley opened #92 "Feature Request - Automatically delete old thumbnails"
It would be nice if there were a setting so older thumbnails would automatically be deleted to make room for new ones.

Thanks!

[2019-06-26 21:40] Quintin9801 opened #93 "Clean Uninstall or Reinstall?"
You can't make this stuff up, logged into my octoprint after switching from wifi to ethernet and figured the plugin would have to be reconfigured. It ended up disappearing from my plugin manager and I'm looking for a clean uninstall method to reinstall and set this plugin back up. Any help would be greatly appreciated!

[2019-06-27 18:00] kennethjiang commented on #93
This sounds odd. If it's not in plugin manager, you can also install it as if it was never installed and it should show up (unless there is an installation failure in which case please post the error message here).

Let me know if that works for you.

[2019-06-27 18:03] kennethjiang commented on #92
The problem with this feature is that there are users who want to keep these timel-lapses. We could add some settings to let individual users to decide how long they want to keep their time-lapses but it's quite a bit of work. Of course if there are enough users requesting this feature I'll be happy to build it.

BTW you don't have to make room for new time-lapses as there is no limit on storage s

[2019-06-27 18:06] kennethjiang commented on #33
Sorry for not getting around to this feature since there haven't been many users asking for it. I'm closing this for now and you can re-open it if you feel strongly about this feature.

[2019-06-27 18:06] #33 closed

[2019-06-27 18:08] kennethjiang commented on #36
@calonmerc  @beeb GCode upload and remote print start have been added to OctoPrint Anywhere 1.0. If GCode viewer, which takes quite a bit of work to do, is highly desired, please open another issue for it.

[2019-06-27 18:08] #36 closed

[2019-06-27 18:08] kennethjiang commented on #47
@JD2005L The new 25fps video streaming will go full screen on a tap. Closing this issue.

[2019-06-27 18:08] #47 closed

[2019-06-27 18:10] #48 closed

[2019-06-27 18:10] #55 closed

[2019-06-27 18:12] kennethjiang commented on #60
In OctoPrint Anywhere 1.0 the webcam feed will go fullscreen if you tap on it.

[2019-06-27 18:12] #60 closed

[2019-06-27 18:15] kennethjiang commented on #70
@Delta-38 In OctoPrint Anywhere 1.0 the control is a lot more responsive now as the webcam feed will send a burst of frames if you tap on a button. This doesn't completely solve your problem but should make it less painful.

Since not a lot of users requested this feature, I'm closing it for now. Feel free to re-open it if you feel strongly about it.

[2019-06-27 18:15] #70 closed

[2019-06-27 18:16] #73 closed

[2019-06-27 18:16] kennethjiang commented on #73
Closing it as there have been very few reports on latency since we moved to a new cloud platform.

[2019-06-27 18:17] #75 closed

[2019-06-27 18:18] kennethjiang commented on #76
This issue should be resolved in version 0.9.10

[2019-06-27 18:18] #76 closed

[2019-06-27 18:18] kennethjiang commented on #77
This issue should be already fixed in 0.9.10

[2019-06-27 18:18] #77 closed

[2019-06-27 18:19] kennethjiang commented on #85
Closing it since 25 fps streaming is officially available to everyone in OctoPrint Anywhere 1.0

[2019-06-27 18:19] #85 closed

[2019-06-27 18:21] kennethjiang commented on #86
Closing this issue since there haven't been any reports recently on this issue. It sounds like a temporary issue during the time when OctoPrint 1.3.11 was officially released.

[2019-06-27 18:21] #86 closed

[2019-06-27 18:21] kennethjiang commented on #87
There have been any reports of similar issues recently. I'm closing it assuming it was a temporary issue during the time when OctoPrint 1.3.11 was released.

[2019-06-27 18:21] #87 closed

[2019-06-27 18:22] #88 closed

[2019-06-27 18:27] smiles2102 commented on #88
Thanks!  I upgraded to a webcam and it works fine now.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Kenneth Jiang <notifications@github.com>
Sent: Thursday, June 27, 2019 11:22 AM
To: kennethjiang/OctoPrint-Anywhere
Cc: smiles2102; Author
Subject: Re: [kennethjiang/OctoPrint-Anywhere] Waiting for Camera Feed (#88)

Closed #88<https://github.com/kennethjiang/O

[2019-06-27 19:19] Quintin9801 commented on #93
After trying to install from the plugin manager, here is the activity on the server. It may be worth noting that I am running octoprint on a windows machine instead of the usual raspberry pi.

`2019-06-27 13:41:37,427   c:\octoprint\venv\scripts\python.exe -m pip --disable-pip-version-check install https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip --no-cache-dir
2019-06-27 13:4

[2019-06-27 19:27] kennethjiang commented on #93
That's very odd. Can you post the "octoprint.log" file here?

[2019-06-27 20:37] Quintin9801 commented on #93
`2019-06-27 10:21:03,546 - octoprint.startup - INFO - ******************************************************************************
2019-06-27 10:21:03,548 - octoprint.startup - INFO - Starting OctoPrint 1.3.11
2019-06-27 10:21:03,549 - octoprint.startup - INFO - ******************************************************************************
2019-06-27 10:21:04,002 - octoprint.util.connectivity_ch

[2019-06-27 21:21] kennethjiang commented on #93
It looks like you are running OctoPrint on a Windows machine, but somehow the plugin thought of it as a Pi. Are you running Window on a PC or a Pi (if it's possible).

[2019-06-27 21:59] Quintin9801 commented on #93
I'm running windows on a PC for better performance.

[2019-06-27 22:21] kennethjiang commented on #93
Will test it when I find a windows machine to see if I can reproduce the same error.

[2019-06-27 22:25] Quintin9801 commented on #93
That would be amazing, Thank you so much for being so quick to respond!

[2019-06-28 01:00] kennethjiang commented on #93
Just fixed it. If you install it again it should work now. @Quintin9801

[2019-06-28 14:28] Quintin9801 commented on #93
Works great! No problems at all. Thank you so much.

[2019-06-28 14:29] #93 closed

[2019-06-30 11:08] phcoetzee opened #94 "A Space needed in notification email"
I've noticed that there needs to be a space between: **Yeah! Your print job** and the gcode filename. It makes it sometimes difficult for me to read.

![space_here](https://user-images.githubusercontent.com/38723167/60395715-06702f00-9b38-11e9-9568-a5d82f547d86.jpg)
Thanks

[2019-06-30 23:16] edfungus opened #95 "Setup window pops up every single boot"
The setup window pops up every single print even though everything is setup. Seems like a bug that isn't tracking if it is setup yet or not.

[2019-07-01 13:53] kennethjiang commented on #95
We have received multiple reports on this issue since OctoPrint 1.3.11 was released. It seems like a new bug in OctoPrint 1.3.11.

I have submitted [an OctoPrint issue](https://github.com/foosel/OctoPrint/issues/3211) to report this bug.

For now, you can work around this problem by hard-refreshing your page. Once you have done that, the setup wizard will stop popping up.

[2019-07-01 14:27] kennethjiang commented on #95
I updated version to 1.0.5 to give users warning when wizard window keeps on re-appearing.

[2019-07-01 14:32] kennethjiang commented on #94
Thank you @phcoetzee for reporting this issue. Just fixed it.

[2019-07-01 14:32] #94 closed

[2019-07-01 19:22] tjdouble07 opened #96 "Camera feed window in front of all TouchUI interface on Raspberry Pi screen"
Since latest update, my printer screen has the camera feed on top of all TouchUI menus. This is only on my Raspberry Pi backpack screen, not on my phone TouchUI interface or windows computer OctoPrint screen. When I disable OctoPrint Anywhere, the issue resolves.

[2019-07-02 16:09] kennethjiang commented on #96
When using Rasbperry Pi backpack screen, do you launch a browser directly on Pi?

[2019-07-02 23:39] tjdouble07 commented on #96
Hello,

Thank you for the assistance.

To be honest, I am not 100% sure, as I am pretty new to using Octoprint and
setting up a Raspberry Pi. I followed a few of the old guides on TouchUI
GitHub (not sure which one I got to work), as the new automated
installation didn't want to work with my screen.

https://github.com/BillyBlaze/OctoPrint-TouchUI

https://github.com/BillyBlaze/OctoPrint-TouchUI/w

[2019-07-03 13:15] kennethjiang commented on #96
Thank you for providing these details. It does look like a bug in OctoPrint Anywhere plugin.

Based on the links you shared, it looks like this bug only appears in Chromium browser, which is probably due to the fact that it has a different behavior than other common browsers.

I guess the tricky part is I don't have a LCD display so I can't reproduce the problem myself.

I will think about what I

[2019-07-25 19:24] skylu3d opened #97 "Can't see Anywhere plugin after successfully installed"
This is my first time to set up Octoprint ans thing happened to me on OctoPrint: 1.3.11...
I can't see the Anywhere plugin in after I tried some of the suggestion from
[https://github.com/kennethjiang/OctoPrint-Anywhere/issues/56](url)
and
[https://github.com/kennethjiang/OctoPrint-Anywhere/issues/90](url)

I tried to download the archive and install manually still no luck ;(
Can you help to see a

[2019-07-25 23:54] kennethjiang commented on #97
From the log file I think the issue is similar to https://github.com/kennethjiang/OctoPrint-Anywhere/issues/90 but this time it is a different dependency. The fix will be to ssh to your Pi and run:
`/home/pi/oprint/bin/python -m pip install backoff==1.6.0`
Let me know if it'll fix the issue @skylu3d

[2019-07-26 00:51] skylu3d commented on #97
Thanks my friend @kennethjiang , everything works like charm now!

[2019-07-26 11:24] #97 closed

[2019-07-28 11:32] kennethjiang commented on #96
@tjdouble07 This problem is fixed in version 1.0.7. Please upgrade when you get a chance. Feel free to re-open this issue if the problem persists after the upgrade.

[2019-07-28 11:32] #96 closed

[2019-07-29 13:25] tjdouble07 commented on #96
Thank you very much!

[2019-08-12 07:59] xxgithubnz opened #98 "Waiting for camera feed - Octoprint camera is working"
Hi - great plugin!

Unfortunately I'm having an issue with the camera feed. The other stats (eg. hot end and bed temp etc.) are streaming as per normal and I can use the remote but the camera just does not display.

As a workaround I'm using another plugin https://plugins.octoprint.org/plugins/rtmpstreamer/ which works fine streaming to twitch.io - however I'd rather use a single site for display

[2019-08-12 14:07] kennethjiang commented on #98
Thank you for attaching octoprint.log with the issue which makes it a lot easier to debug.

The log file reveals a bug in the code. The fix to that bug is included in version 1.0.9 that I just released. You can wait for OctoPrint to prompt you for upgrade, or you can uninstall then re-install OctoPrint Anywhere plugin to get the new version now.

I don't think a lot of users have your setups so yo

[2019-08-12 18:59] xxgithubnz commented on #98
Thanks for the quick reply and analysis!

Before work today I followed your advice and did a quick reinstall of the plugin and can report that it's now working!

I will do further testing when I get home tonight but in the meantime this is now closed.

[2019-08-12 18:59] #98 closed

[2019-08-12 19:16] xxgithubnz commented on #64
+1

Also Octoprint Plugin integration would be a very good feature too!

Use case: I would like to trigger GPIO pins on my pi that can turn on/off lights, or can cut power to the printer PSU. This is currently handled by the Enclosure plugin (https://plugins.octoprint.org/plugins/enclosure/), however it would be very handy to be able to do this using OctoPrint Anywhere as the remote is already ava

[2019-08-13 21:26] kennethjiang commented on #98
Good to know everything works (a bit to my surprise as I don't have the same set up to test the plugin)! :)

[2019-08-13 22:10] FormerLurker opened #99 "PNotify Default Buttons Removed"
Hi again!  I've gotten some additional reports regarding the removal of the default pnotify confirm buttons, but this time involving Octoprint Anywhere.  I was wondering if you could apply the same fix here as you did to the Spaghetti Detective?  Let me know if/when this is complete and I'll make sure it is tested.

FYI, I'm going to add some code to my confirm dialog that checks for these buttons

[2019-08-13 22:57] #99 closed

[2019-08-13 22:58] kennethjiang commented on #99
Ah I forgot that I did the similar thing in OA too. It is really just an easy fix thank to you previous help. The fix is now in new version 1.0.10

[2019-08-28 16:31] Scintilladist opened #100 "Octoprint anywhere "installed unknown" and cannot see in plugins"
Using OctoPrint 1.3.11 and using the plugin manager to install OctoPrint-Anywhere the install goes fine with no errors. When it is done, a dialog comes up saying 'Installed: unknown' and when the reboot of the OctoPrint service is done, the OctoPrint-Anywhere doesn't show up under the tool menu. When I go to install it again, it sees that it was already installed and does a 'force' install, yet it

[2019-08-29 01:23] Scintilladist commented on #100
Yes here they are.
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3553477/octoprint.log)
[plugin_pluginmanager_console.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3553478/plugin_pluginmanager_console.log)

[2019-08-29 03:51] kennethjiang commented on #100
It is the same problem as this issue: https://github.com/kennethjiang/OctoPrint-Anywhere/issues/97

Please try the solution in that issue and let me know if it works for you.

[2019-08-29 11:45] Scintilladist commented on #100
Thank you so much @kennethjiang . It works perfectly now. Sorry about the trouble.

[2019-08-29 11:45] #100 closed

[2019-09-02 05:30] kennethjiang opened #101 "Add a button to initiate the connection from Pi to Printer"

[2019-09-09 15:50] JonAugusto opened #102 "Version 1.0.13 blocking startup."
Octoprint Anywhere v:1.0.13 is currently the only 3rd party plugin I have installed and if it is enabled, startup is interrupted and the Octopi reboots in safe mode. Disabling the plugin solves the startup issue. Not sure if it is a conflict with a  first party plugin or not.

[2019-09-09 17:37] kennethjiang commented on #102
Hmm that sounds bad. Can you post octoprint.log file so that I can take a look? Here is how you find it: https://community.octoprint.org/t/where-can-i-find-octoprints-and-octopis-log-files/299

[2019-09-09 17:42] JonAugusto commented on #102
Hi Kenneth.

It was weird I couldn’t get Octopi to load all morning. I just rebooted the Pi to get a good log file for you and this time it loaded fine. It’s now running without issue.
I’ve attached the log file for what it’s worth but I have no clue why not wouldn’t load all morning and does so now.

Jonathan

[2019-09-09 21:00] kennethjiang commented on #102
Good to know it's working now

Did you attach the log file to this issue or send it to me by email?

[2019-09-09 21:26] JonAugusto commented on #102
I sent it via email.

[2019-09-09 22:23] kennethjiang commented on #102
Did you send it to `support@getanywhere.io` @JonAugusto

[2019-09-09 22:33] JonAugusto commented on #102
I just attached it to my reply to your email.  I will upload it when I get back to work tomorrow.

[2019-09-10 16:58] kennethjiang commented on #102
@JonAugusto I didn't see OctoPrint Anywhere errors the log file you sent me that could possibly cause OctoPrint to boot into safe mode. I did see `UNDERVOLTAGE` errors that may have caused your Pi to shut down but I'm not too sure if it was the reason for your OctoPrint to enter safe mode.

I'm closing this issue for now. If the same problem happens again, the best place to ask this question is pr

[2019-09-10 16:58] #102 closed

[2019-09-12 14:38] deckerchevy opened #103 "Latest update killed video feed"
After updating to the latest the video feed stopped working. I still have access to the printer but the video feed does not work. I did the required testing in Octoprint to validate that the correct settings were working and they are. I am using Octoprint on Windows. It was working perfectly until I updated. Any assistance would be greatly appreciated.

[2019-09-13 23:16] kennethjiang commented on #103
@deckerchevy can you attach the `octoprint.log` file? Thanks!

[2019-09-17 14:57] janis-ax opened #104 "show final time"
# Feature

The [getanywhere.io](https://www.getanywhere.io/app/devices/) should show additionally the time when the print is done.

For example it is 09 AM the print time left is 1h it should show: `Time when done: 10AM`

[2019-09-25 02:24] SonBroku opened #105 "No setup wizard"
As the title says, I'm not getting a setup wizard as well as it's not showing up in the plugin menu. It shows as installed and enabled, but there's no type of menus or anything for it.

[octoprint(1).log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3650268/octoprint.1.log)

Here's my log. I already tried several of the other fixes in previous issues. I'm thinking It might also be a de

[2019-09-25 16:02] kennethjiang commented on #105
@SonBroku Thank you for reporting the problem.

For your log file it seems that OctoPrint Anywhere's config file is somehow corrupted. You can reset the config file with these steps:

1. SSH to your Raspberry Pi.
2. Delete `/home/pi/.octoprint/data/anywhere/.config.yaml`
3. Restart OctoPrint. Once the OctoPrint restarts you should see the wizard. Let me know if that's not the case.

[2019-09-25 21:12] SonBroku commented on #105
That worked. I also had installed the polar cloud plugin last night after i made this post, and I had to delete it as well before it would work. Thanks.

[2019-09-27 18:02] #105 closed

[2019-10-05 11:43] thesourcerer opened #106 "Upgrade to 1.0.17 disables the M-JPEG streamer site on port 8080"
Upgraded the plugin to 1.0.17,
after octoprint restart, the pi is no longer responding to port 8080 where the M-JPEG streamer page should display...
Verified by disabling the plugin and restarting octoprint service - everything started working again.

I am willing to repro and provide logs if needed, just let me know what exactly I should fetch.

[2019-10-05 12:00] kennethjiang commented on #106
Do you have a Pi Camera or a USB Camera.

Please download the `octoprint.log` file and post it here. [Here is how you can find it](https://community.octoprint.org/t/where-can-i-find-octoprints-and-octopis-log-files/299).

[2019-10-05 12:13] thesourcerer commented on #106
Pi Camera

[2019-10-05 12:17] thesourcerer commented on #106
More info: went back to v .16 and it also has the problem, so I must have skipped a version or more,  going back one by one now to figure out which was the last one to work.

[2019-10-05 12:19] kennethjiang commented on #106
Ok. Did you upgrade to PRO or sign up for the free trial? The plugin will stop mjpeg streaming so that it can do H.264 streaming. But usually it will also do it in a way that is compatible with the original mjpeg streaming so that you can still see the webcam image in OctoPrint as usually. But something probably went wrong in your case.

Do you see webcam feed on Octoprint Anywhere dashboard?

[2019-10-05 12:23] thesourcerer commented on #106
Using the free version.
Local stream feed works, only  the streamer page on port 8080 fails (I use it to control the camera).
I didn't try to check if the stream worked on octoprint anywhere. I can check.

[2019-10-05 12:29] kennethjiang commented on #106
That definitely sounds like a bug. With free version the plugin shouldn't try to mess with the mjpeg at all. Please post the octoprint.log file. Thanks!

[2019-10-05 12:30] thesourcerer commented on #106
More info; Went back to .15, the issue is still there.
I can see the video feed both locally and in getanywhere.io, but port 8080 is not responding.

[2019-10-05 12:36] thesourcerer commented on #106
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3693226/octoprint.log)

[2019-10-05 15:17] kennethjiang commented on #106
From the log it looks like you got a temporary error which went away after the last OctoPrint restart. After the restart everything seems to work just fine. Was it what you were seeing, or you are still having issues?

[2019-10-05 18:39] thesourcerer commented on #106
Nop, the video stream was fixed after the restart, but port 8080 is not accessible unless I disable the plugin. so far I managed to return to .15 with the same issue. didn't have time to go back more now, can try later. It's weird, because I usually update all plugins within 2 weeks tops, and didn't have an issue before.

[2019-10-05 19:49] kennethjiang commented on #106
Can you send me email `k@getanywhere.io` so that we can schedule a time to have a live chat and walk through some trouble-shooting steps?

[2019-10-05 23:00] brad313 commented on #104
I agree with this.   Would be a really nice feature.

[2019-10-06 07:40] thesourcerer commented on #106
I will , once I can find some free time... I will drop you an email.  maxed out the time I can invest in this this week.
BTW, also noticed that once the plugin is on, even local video stream i slagging, especially at start of the print. not sure why. for now I disabled the plugin and everything seems to work.

[2019-10-07 19:17] kennethjiang commented on #106
It does sound like the plugin tried to start video streaming. Since you are on a free account, is there any chance that you signed up for the PRO free trial? When you are in free trial, the plugin will try to start video streaming.
If you have signed up for the PRO free trial, you can give me the email address for your OctoPrint Anywhere and I'll remove the trial for you.

[2019-10-07 20:30] thesourcerer commented on #106
https://www.getanywhere.io/app/subscription says my current plan is "Free".

[2019-10-08 02:50] kennethjiang commented on #106
When you are on PRO trial, it'll still say your plan is "free" but you get all the PRO features.

[2019-10-08 05:35] thesourcerer commented on #106
Emailed you just now.

[2019-10-16 02:43] davidjau34 opened #107 "Octoprint anywhere doesnt show in plugins"
Hello! I trying to install octoprint anywhere on my octo print version 1.3.11 but after installing and the necessaries restart the setup wizard doesn't show up

[2019-10-16 02:46] kennethjiang commented on #107
Very possibly this is caused by the same issue as https://github.com/kennethjiang/OctoPrint-Anywhere/issues/102 . Can you post `octoprint.log` file here so that I can take a look at it?

[2019-10-16 02:53] davidjau34 commented on #107
[octoprint.log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3732246/octoprint.log)
There it is

[2019-10-16 03:28] kennethjiang commented on #107
Confirmed it's the same issue as #102

The fix is to ssh to your Pi and run:
`/home/pi/oprint/bin/python -m pip install backoff==1.6.0`

It should work after you restart OctoPrint. Let me know if otherwise.

[2019-10-16 05:58] davidjau34 commented on #107
now its show but after a couple of restarts the setup wizard doesn't appear
[octoprint(1).log](https://github.com/kennethjiang/OctoPrint-Anywhere/files/3732628/octoprint.1.log)

[2019-10-16 18:14] kennethjiang commented on #107
It looks like in your case there were 2 packages (maybe more) missing. Please run this on your Pi:

`/home/pi/oprint/bin/python -m pip install raven==6.9.0`

[2019-10-16 20:45] davidjau34 commented on #107
It finally works out! thanks, man!

[2019-10-16 20:45] #107 closed

[2019-11-03 10:53] Celtaa opened #108 "OctoPrint-Anywhere folder on Files"
Hi,

Some updates ago I noticed that on Files a folder called "OctoPrint-Anywhere" started appearing. Is this folder necessary? If I try to delete it after some time the folder appears again.
Is there any configuration to disable this?

![image](https://user-images.githubusercontent.com/20792895/68084017-e1facb00-fe27-11e9-8c7e-f7bcd244d921.png)

[2019-11-04 11:51] kennethjiang commented on #108
This folder is so that users can upload G-Code and start printing remotely (Pro feature only).

If you don't need such feature, the folder will still be there but stay empty.

Does it create a problem for your situation?

[2019-11-04 12:05] Celtaa commented on #108
It doesn't create a problem.
For someone that doesn't use the feature or doesn't have pro it doesn't make much sense to have this folder, it is just there creating "noise".

[2019-11-04 19:03] kennethjiang commented on #108
Gotcha. Since this is not creating a problem, I marked it as enhancement.

[2019-11-18 13:17] JayGed opened #109 "Unable to upload large files"
We've had a painless install and enjoy the product. Having issues now that our printing models are more complicated. Large gcode files (100MB-200MB) appear to upload in the interface, but never show up in the Gcode files list. Smaller files continue to work (30 MB and smaller). I haven't tested enough to find the break point for size.

[2019-11-18 14:45] kennethjiang commented on #109
We don't have a limit for file size. I just tried to upload one about 190MB (attached screenshot) and it worked.

Checked our database and many users have uploaded files 100+MB.

If you are sure it's not a network problem, please send email to k at getanywhere dot io so that we can set up a time to look at the problem.

<img width="1108" alt="Screen Shot 2019-11-18 at 6 43 04 AM" src="https://user

[2019-11-30 06:16] Snakn1 opened #110 "Layer count number as well as % of print."
I use gcode scripts in the slicer to pause the print at a set layer number to change the color of the filament on a multi-color job. It would be nice to see the current layer number the job was at. Bonus would be a current/total indicator. so I can judge the time I have until I need to go to the printer to change the filament. Mabe keep the job % bar, but change the number to the layer number, or

[2019-12-01 14:00] kennethjiang commented on #110
Thank you for this feature request. It is a really good suggestion!

[2020-04-01 19:59] danakaiggy opened #111 "request Python 3 compatibility."
request Python 3 compatibility.

[2020-04-17 17:28] kennethjiang commented on #111
Version 1.1.1 is now python3-compatible.

[2020-04-17 17:28] #111 closed

[2020-09-25 08:08] fiveorders opened #112 "Contact"
Hi Kenneth, can you send your contact information to benisevme@gmail.com for business

[2021-01-24 23:26] dchamb55 opened #113 "Failure to install on RPi 4B"
When I try to install the plugin, this is what is displayed:

Installing plugin "OctoPrint Anywhere" from https://github.com/kennethjiang/OctoPrint-Anywhere/archive/master.zip...
/home/pi/oprint/bin/python2 -m pip --disable-pip-version-check install file:///tmp/tmpt7AkID/master.zip --no-cache-dir
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Processing /tmp/tmpt7AkID

[2021-01-24 23:54] kennethjiang commented on #113
Are you using OctoPi 0.18 RC 64-bit build? If so, it's known to have issues.

[2021-01-25 13:43] dchamb55 commented on #113
I am using the following:

OctoPrint 1.5.3 Python 2.7.16 OctoPi 0.17.0 on a Raspberry Pi 4 Model B Rev 1.1

I get notices to upgrade to OctoPi 0.18.0 but have avoided applying the update.

Any suggestions?

Regards

Dale

Dale A. Chamberlain
15210 Humbert Rd
Brighton, IL 62012-1955

Ph. (314) 218-0557
Email: dale@dchamberlain.net
On January 24, 2021 5:54:45 PM Kenneth Jiang <notifications@github.c

[2021-02-04 20:01] dchamb55 commented on #113
I am using Octopi 0.17.0 64-bit

From: Kenneth Jiang <notifications@github.com>
Sent: Sunday, January 24, 2021 5:55 PM
To: kennethjiang/OctoPrint-Anywhere <OctoPrint-Anywhere@noreply.github.com>
Cc: dchamb55 <DALE@DCHAMBERLAIN.NET>; Author <author@noreply.github.com>
Subject: Re: [kennethjiang/OctoPrint-Anywhere] Failure to install on RPi 4B (#113)

Are you using OctoPi 0.18 RC 64-bit build? If so

[2021-02-19 01:50] kennethjiang commented on #113
Sorry for whatever reason your comments fell through the cracks in my inbox.

I'm pretty sure this is caused by the stability issues with OctoPi 0.18 RC builds. Now OctoPi 0.18 stable build is released. Please re-flash your SD card with the stable build image from https://octoprint.org/download/. Let me know if you still have issues.

[2021-02-19 02:38] dchamb55 commented on #113
I could understand that if I was running Octopi 0.18 but I have never installed it or any RC builds of it. I am running 0.17.

From: Kenneth Jiang <notifications@github.com>
Sent: Thursday, February 18, 2021 7:51 PM
To: kennethjiang/OctoPrint-Anywhere <OctoPrint-Anywhere@noreply.github.com>
Cc: dchamb55 <DALE@DCHAMBERLAIN.NET>; Author <author@noreply.github.com>
Subject: Re: [kennethjiang/OctoPrin

[2021-02-19 12:47] kennethjiang commented on #113
@dchamb55 I'm under the impression that only 0.18 RC has a 64-bit. 0.17 never did. But I could be wrong.

[2021-05-03 21:33] sillyfunnypedro opened #114 "Not in the plugin repo"
Did this get pulled from the octoprint plugin repo?

[2021-06-20 17:12] modiyagya commented on #66
Hi, how did you fix "hostname -s is not supported" in windows 10?